Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.scss": [
    "stylelint --fix",
    "git add"
  ],
  "*.php": [
    "./bin/phpcs.phar --standard=phpcs-ruleset.xml"
  ]
}

RSE-363: Set permission for getting Award managers
  CRM/CiviAwards/Hook/alterAPIPermissions/Award.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-341: Fix unit tests
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
  ang/test/mocks/data/review-fields.data.js
  ang/test/mocks/data/reviews.data.js
Due: eslint --fix

RSE-341: Make Function immutable
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
Due: eslint --fix

RSE-882: Renamed folder/class name for consistency
  CRM/CiviAwards/Hook/AlterAPIPermissions/Award.php
  civiawards.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-891: Add the AllowAccessToApplicantReviewGroups hook class.
  CRM/CiviAwards/Helper/ApplicantReview.php
  CRM/CiviAwards/Hook/AclGroup/AllowAccessToApplicantReviewGroups.php
  civiawards.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-891: Use newly created helper function.
  CRM/CiviAwards/Hook/AlterAPIPermissions/Award.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-363: Filter by Award Status
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

RSE-751: Change Award to Application
  ang/civiawards/dashboard/directives/more-filters-popup.html
  config/word_replacement/awards_category.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-842: Add reported by field to review form
  CRM/CiviAwards/Form/AwardReview.php
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-842: Do not set default values if they already have been defined
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-842: Remove array merge statement
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-669: Review Panel Basic markup
  ang/civiawards/award-creation/directives/award.directive.html
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/award-creation/directives/review-fields-table.directive.js
  ang/civiawards/award-creation/directives/review-panel-popup.html
  ang/civiawards/award-creation/directives/review-panels.directive.html
  ang/civiawards/award-creation/directives/review-panels.directive.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
Due: eslint --fix, stylelint --fix

RSE-669: Add for attribute for checkbox element
  ang/civiawards/award-creation/directives/review-panel-popup.html
Due: none

RSE-670: Save review panel using api
  ang/civiawards/award-creation/directives/award.directive.html
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/award-creation/directives/review-panel-popup.html
  ang/civiawards/award-creation/directives/review-panels.directive.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
Due: eslint --fix, stylelint --fix

RSE-670: Add unit tests
  ang/civiawards/award-creation/directives/review-panels.directive.js
  ang/test/civiawards/award-creation/directives/review-panels.directive.spec.js
Due: eslint --fix

RSE-670: Fix code formatting
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/award-creation/directives/review-panels.directive.js
Due: eslint --fix

RSE-952: Show cases/activities when status filter is removed
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

RSE-959: Move awards creation page to a new namespace
  CRM/CiviAwards/Page/AwardAngular.php
  ang/civiawards.ang.php
  ang/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.js
  ang/test/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.spec.js
  xml/Menu/civiawards.xml
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-959: fix syntax
  CRM/CiviAwards/Page/AwardAngular.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-868: Apply fixed width to Required field of review tab
  ang/civiawards/award-creation/directives/review-fields-table.directive.html
Due: none

RSE-868: Apply fixed width to Review tab actions column
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.html
Due: none

RSE-652: Update Review panel permissions.
  CRM/CiviAwards/Hook/AlterAPIPermissions/Award.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-652: Add permission on separate line
  CRM/CiviAwards/Hook/AlterAPIPermissions/Award.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-967: Do not apply More Filters in non awards dashboard
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

RSE-777: Move edit award page to new namespace
  ang/civiawards/dashboard/directives/edit-award-button.html
Due: none

RSE-777: Send 1 or 0 for award is_active field
  ang/civiawards/award-creation/directives/review-panels.directive.js
  ang/test/civiawards/award-creation/directives/review-panels.directive.spec.js
Due: eslint --fix

RSE-678: Review Panel group selection ui + functionality
  CRM/CiviAwards/BAO/AwardReviewPanel.php
  ang/civiawards/award-creation/directives/review-panel-popup.html
  ang/civiawards/award-creation/directives/review-panels.directive.js
  ang/civiawards/shared/directives/contacts-group-dropdown.directive.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
  scss/components/_contacts-group.scss
Due: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-678: Refactor folder structure
  ang/civiawards/award-creation/directives/review-fields/review-field-selection.html
  ang/civiawards/award-creation/directives/review-fields/review-fields-table.directive.html
  ang/civiawards/award-creation/directives/review-fields/review-fields-table.directive.js
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
Due: eslint --fix

RSE-678: Misc fixes
  ang/civiawards/award-creation/directives/review-fields/review-fields-table.directive.js
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
Due: eslint --fix, stylelint --fix

RSE-678: Unit Tests
  ang/civiawards/shared/directives/contacts-group-dropdown.directive.js
  ang/test/civiawards/award-creation/directives/review-fields/review-fields-table.directive.spec.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
Due: eslint --fix

RSE-678: Fix api call
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/test/civiawards/award-creation/directives/review-panels.directive.spec.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
Due: eslint --fix

RSE-678: Code refactor
  ang/civiawards/shared/directives/contacts-group-dropdown.directive.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
Due: eslint --fix, stylelint --fix

RSE-672: Review Panel list ui + functionality
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
Due: eslint --fix, stylelint --fix

RSE-905: Set up Awards Custom fields using logic used in Civicase.
  CRM/CiviAwards/Setup/AddAwardsCgExtendsOptionValue.php
  CRM/CiviAwards/Setup/DeleteAwardsCgExtendsOption.php
  CRM/CiviAwards/Setup/ProcessAwardsCategoryForCustomGroupSupport.php
  CRM/CiviAwards/Uninstall/RemoveCustomGroupSupportForAwardsCategory.php
  CRM/CiviAwards/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-905: Remove Enable and Disable functions.
  CRM/CiviAwards/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-662: Add Unit Tests
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
  ang/test/mocks/data/review-panels.data.js
Due: eslint --fix

RSE-672: Refactor code
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
Due: eslint --fix

RSE-671: Delete review panel from list
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
Due: eslint --fix, stylelint --fix

RSE-671: Delete review panel from Modal
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
Due: eslint --fix, stylelint --fix

RSE-671: Enable/disable from list
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
Due: eslint --fix
