Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.scss": [
    "stylelint --fix",
    "git add"
  ],
  "*.php": [
    "./bin/phpcs.phar --standard=phpcs-ruleset.xml"
  ]
}

IO-143: Enable/Disable the extension properly
  CRM/CiviAwards/Disable/DeactivateAwardsMenus.php
  CRM/CiviAwards/Disable/DeactivateCustomGroupSupportForApplicantManagement.php
  CRM/CiviAwards/Disable/DeactivateCustomGroupSupportForAwardsCategory.php
  CRM/CiviAwards/Enable/ActivateAwardsMenus.php
  CRM/CiviAwards/Enable/ActivateCustomGroupSupportForApplicantManagement.php
  CRM/CiviAwards/Enable/ActivateCustomGroupSupportForAwardsCategory.php
  CRM/CiviAwards/Helper/CaseTypeCategory.php
  CRM/CiviAwards/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-519: Update Activity Status Labels
  CRM/CiviAwards/Setup/UpdateAwardPaymentActivityStatusLabel.php
  CRM/CiviAwards/Upgrader.php
  CRM/CiviAwards/Upgrader/Steps/Step1010.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-539: Add Clear filter functionality
  ang/civiawards-payments-tab/directives/payment-filters.directive.html
  ang/civiawards-payments-tab/directives/payment-filters.directive.js
  ang/test/.eslintrc.json
  ang/test/civiawards-payments-tab/directives/payment-filters.directive.spec.js
  gulp-tasks/sass.js
Due: eslint --fix

ACU-539: Remove eslint-env statement
  ang/test/civiawards-base/services/applicant-management-workflow.service.spec.js
  ang/test/civiawards-base/services/award-subtype.service.spec.js
  ang/test/civiawards-base/services/is-application-management-screen.factory.spec.js
  ang/test/civiawards-payments-tab/configs/add-payments-tab.config.spec.js
  ang/test/civiawards-payments-tab/directives/payments-case-tab-actions.directive.spec.js
  ang/test/civiawards-payments-tab/directives/payments-case-tab-add-payment.directive.spec.js
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
  ang/test/civiawards-payments-tab/services/awards-payment-activity-status.service.spec.js
  ang/test/civiawards-payments-tab/services/payments-case-tab.service.spec.js
  ang/test/civiawards-workflow/action-links/controlers/workflow-advanced.controller.spec.js
  ang/test/civiawards-workflow/filters/controllers/workflow-filter.controller.spec.js
  ang/test/civiawards/activity-forms/activity-forms.config.spec.js
  ang/test/civiawards/activity-forms/services/review-form.service.spec.js
  ang/test/civiawards/award-creation/directives/award-custom-field-sets.directive.spec.js
  ang/test/civiawards/award-creation/directives/award-stages-table.directive.spec.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/civiawards/award-creation/directives/basic-details-form.directive.spec.js
  ang/test/civiawards/award-creation/directives/review-fields/review-fields-table.directive.spec.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
  ang/test/civiawards/dashboard/configs/awards-dashboard-action-items.config.spec.js
  ang/test/civiawards/dashboard/configs/case-type-items.config.spec.js
  ang/test/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.spec.js
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
  ang/test/civiawards/reviews-tab/configs/add-reviews-tab.config.spec.js
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
  ang/test/civiawards/shared/services/can-create-or-edit-awards.factory.spec.js
  ang/test/global.js
Due: eslint --fix

ACU-539: Remove CRM.url
  ang/civiawards-payments-tab/directives/payments-case-tab-actions.directive.js
  ang/civiawards-payments-tab/directives/payments-case-tab-add-payment.directive.js
  ang/civiawards-workflow/action-links/controllers/workflow-advanced.controller.js
  ang/civiawards/activity-forms/services/review-form.service.js
  ang/civiawards/dashboard/configs/case-type-items.config.js
  ang/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.js
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
  ang/test/civiawards-payments-tab/directives/payments-case-tab-actions.directive.spec.js
  ang/test/civiawards-payments-tab/directives/payments-case-tab-add-payment.directive.spec.js
  ang/test/civiawards-workflow/action-links/controlers/workflow-advanced.controller.spec.js
  ang/test/civiawards/activity-forms/services/review-form.service.spec.js
  ang/test/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.spec.js
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
Due: eslint --fix

ACU-519: Refactor code
  CRM/CiviAwards/Setup/UpdateAwardPaymentActivityStatusLabel.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-548: Add Ctype value for storing/fetching profile fields
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

Remove global variables
  ang/civiawards/award-creation/directives/award-custom-field-sets.directive.js
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
  ang/test/civiawards/award-creation/directives/award-custom-field-sets.directive.spec.js
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
Due: eslint --fix

ACU-545: Remove global variables
  ang/civiawards/award-creation/directives/award-custom-field-sets.directive.js
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
  ang/test/civiawards/award-creation/directives/award-custom-field-sets.directive.spec.js
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
Due: eslint --fix

ACU-545: Show payments form from Activity Feed
  ang/civiawards-payments-tab/directives/payments-case-tab-actions.directive.js
  ang/civiawards-payments-tab/services/payments-activity-form.service.js
  ang/civiawards/activity-forms/activity-forms.config.js
  ang/civiawards/activity-forms/services/review-activity-form.service.js
  ang/test/civiawards-payments-tab/mocks/data/payments.data.js
  ang/test/civiawards-payments-tab/services/payments-activity-form.service.spec.js
  ang/test/civiawards/activity-forms/services/review-activity-form.service.spec.js
Due: eslint --fix

ACU-545: Fix styles
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_activity-panel.scss
  scss/components/_payments-form.scss
  templates/CRM/CiviAwards/Form/AwardPayment.tpl
Due: stylelint --fix

ACU-545: Fix comments
  ang/civiawards-payments-tab/services/payments-activity-form.service.js
Due: eslint --fix

ACU-545: Fix styles inside activity panel
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_activity-panel.scss
  scss/components/_payments-form.scss
  templates/CRM/CiviAwards/Form/AwardPayment.tpl
Due: stylelint --fix

ACU-545: Create api to set finance management settings
  api/v3/FinanceManagement.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-545: Make API params required
  api/v3/FinanceManagement.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-521: Update CiviCRM version
  info.xml
Due: none

CPS-487: Add lowercase for label
  CRM/CiviAwards/Service/ApplicantManagementMenu.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-487: Capitalize category name on label menus
  CRM/CiviAwards/Service/ApplicantManagementMenu.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CATL-1660: Update NodeJS to v14.16.0
  .github/workflows/linters.yml
  .github/workflows/unit-test.yml
  .nvmrc
  package-lock.json
  package.json
Due: none

CATL-1660: Add HTML linter
  .github/workflows/linters.yml
  .htmlhintrc
  .lintstagedrc
  ang/civiawards-workflow/filters/directives/workflow-list-filter-is-active.html
  ang/civiawards-workflow/filters/directives/workflow-list-filter-is-template.html
  ang/civiawards/award-creation/directives/award-stages-table.directive.html
  ang/civiawards/award-creation/directives/basic-details-form.directive.html
  ang/civiawards/award-creation/directives/review-fields/review-field-selection.html
  ang/civiawards/award-creation/directives/review-fields/review-fields-table.directive.html
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
  ang/civiawards/reviews-tab/services/reviews-case-tab-placeholder.html
  package-lock.json
  package.json
Due: none

CPS-202: Use Route classes for ApplicantManagement menu
  CRM/CiviAwards/Service/ApplicantManagementMenu.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-202: Add upgrader for menu changes
  CRM/CiviAwards/Upgrader/Steps/Step1011.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-202: Use category ID on URLs
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/edit-award-button.controller.js
Due: eslint --fix

CPS-202: Fix error on navigation
  ang/civiawards/award-creation/directives/award.directive.html
Due: none

CPS-202: Fix on frontend tests
  ang/test/civiawards-base/services/is-application-management-screen.factory.spec.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.spec.js
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
  ang/test/civiawards/reviews-tab/configs/add-reviews-tab.config.spec.js
Due: eslint --fix

CPS-556: Fix method to get mock relationship types
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
Due: eslint --fix

CPS-556: Fix list of expected relationship types
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
Due: eslint --fix

CPS-202: Change category name for ID on menu URLs
  CRM/CiviAwards/Service/ApplicantManagementMenu.php
  CRM/CiviAwards/Setup/AddManageWorkflowMenu.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-202: Rename method for updating menu items
  CRM/CiviAwards/Upgrader/Steps/Step1011.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1276: Update menu items setup to use singular labels
  CRM/CiviAwards/Helper/CaseTypeCategory.php
  CRM/CiviAwards/Setup/CreateAwardsMenus.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1276: Add helper for getting menu data
  CRM/CiviAwards/Helper/CaseTypeCategory.php
  CRM/CiviAwards/Service/ApplicantManagementMenu.php
  CRM/CiviAwards/Setup/CreateAwardsMenus.php
  CRM/CiviAwards/Upgrader/Steps/Step1011.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-533: Show all review fields
  ang/civiawards/award-creation/directives/review-fields/review-fields-table.directive.js
  ang/test/civiawards/award-creation/directives/review-fields/review-fields-table.directive.spec.js
Due: eslint --fix

CPS-533: Use civicaseCrmApi instead of crmApi
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/award-creation/directives/review-fields/review-fields-table.directive.js
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
  ang/civiawards/shared/directives/contacts-group-dropdown.directive.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/civiawards/award-creation/directives/review-fields/review-fields-table.directive.spec.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
Due: eslint --fix

CPS-559: Remove obsolete data in review panels
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
  ang/test/mocks/data/review-panels.data.js
Due: eslint --fix

CPS-597: Fix should run hook for the payment module injection
  CRM/CiviAwardsPaymentsTab/Hook/AddCiviCaseDependentAngularModules/PaymentsTabModule.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-597: Fix unit tests.
  tests/phpunit/CRM/CiviAwardsPaymentsTab/Hook/AddCiviCaseDependentAngularModules/PaymentsTabModuleTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml
