Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1209: Add Applicant Management Word Replacement Functionality
  CRM/CiviAwards/Setup/AddApplicationManagementWordReplacement.php
  CRM/CiviAwards/Upgrader.php
  CRM/CiviAwards/Upgrader/Steps/Step1003.php
  CRM/CiviAwards/WordReplacement/ApplicantManagement.php
  config/word_replacement/applicant_management.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-647: Add missing Upgrader. Bump Upgrader Number
  CRM/CiviAwards/Upgrader/Steps/Step1004.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1200: Rename CustomGroup Setup class to reflect Applicant management
  CRM/CiviAwards/Setup/AddApplicantManagementCaseTypeCustomGroupSupport.php
  CRM/CiviAwards/Setup/AddAwardCaseTypeCustomGroupSupport.php
  CRM/CiviAwards/Uninstall/RemoveCustomGroupSupportForApplicantManagement.php
  CRM/CiviAwards/Upgrader.php
  CRM/CiviAwards/Upgrader/Steps/Step1004.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1200: Update function to check for Award Instance case types. Use in form class
  CRM/CiviAwards/Form/AwardCustomField.php
  CRM/CiviAwards/Helper/CaseTypeCategory.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1140: Remove redundant tests. Refactor tests
  tests/phpunit/CRM/CiviAwards/Service/AwardApplicationContactAccessTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1200: Switch to BAO for updating the award category instance field
  CRM/CiviAwards/Setup/CreateApplicantManagementOption.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1200: Update linters workflow to not run linters for deleted files
  .github/workflows/linters.yml
Due: none

RSE-1199: Refactor getApplicantManagementCaseTypes function
  CRM/CiviAwards/Helper/CaseTypeCategory.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1199: Add AwardDetail.GetInstanceCategories API, Add tests
  CRM/CiviAwards/Test/Fabricator/CaseCategory.php
  api/v3/AwardDetail.php
  tests/phpunit/Api/v3/AwardDetailTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1199: Fix wrong variable name in loop
  CRM/CiviAwards/Setup/CreateAwardTypeOptionGroup.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

DRU-190: Show error message for ssp awards review application pages where application is deleted
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

DRU-171: Update submit button label on awards review page to Submit Review
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: none

RSE-1226: Disable fields for review in view mode
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1248: Fix bug in getreviewaccessapi
  CRM/CiviAwards/Service/AwardApplicationContactAccess.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1248: Add class description required to pass the linter checks
  CRM/CiviAwards/Service/AwardApplicationContactAccess.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1248: Change the test to allow access to applications without tags
  tests/phpunit/CRM/CiviAwards/Service/AwardApplicationContactAccessTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1248: Fixed pr comments
  CRM/CiviAwards/Service/AwardApplicationContactAccess.php
  tests/phpunit/CRM/CiviAwards/Service/AwardApplicationContactAccessTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1096: Awards instance support - frontend work
  ang/civiawards/app.routes.js
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/dashboard/configs/case-type-items.config.js
  ang/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/edit-award-button.controller.js
  ang/civiawards/dashboard/directives/edit-award-button.html
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.html
  ang/civiawards/reviews-tab/configs/add-reviews-tab.config.js
  ang/civiawards/shared/services/is-application-management-screen.factory.js
  ang/civiawards/shared/services/is-award-screen.factory.js
Due: eslint --fix

RSE-1096: Update unit tests
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.html
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.spec.js
  ang/test/civiawards/shared/services/ang/civiawards/shared/services/is-application-management-screen.factory.spec.js
Due: eslint --fix

RSE-1096: Refactor code
  ang/civiawards/app.routes.js
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/edit-award-button.controller.js
  ang/civiawards/shared/services/is-application-management-screen.factory.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
Due: eslint --fix

RSE-1299: Fix contact display name on SSP review application form to respect anonymization
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-320: Update info.xml
  info.xml
Due: none

RSE-1118: Use dynamic permission for Manage applications menu
  CRM/CiviAwards/Service/ApplicantManagementMenu.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1118: Modify permission when instance type is applicant management
  CRM/CiviAwards/Hook/AlterAPIPermissions/Award.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1246: Disallow empty statuses if Panel can change the status of an application checkbox is ticked
  CRM/CiviAwards/BAO/AwardReviewPanel.php
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
  scss/components/_award.scss
Due: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1246: Unit test added to check for empty restricted statuses
  tests/phpunit/CRM/CiviAwards/BAO/AwardReviewPanelTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1311: Fix SSP review and view applications pages to show correct CaseTags
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1246: Required mark added to the statuses field
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
Due: none

RSE-1246: Missing css files added
  css/civiawards.min.css
  css/civiawards.min.css.map
Due: none

RSE-1246: Css changes to show error on clicking save
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
Due: stylelint --fix

RSE-1118: Fix linter errors
  CRM/CiviAwards/Form/AwardCustomField.php
  CRM/CiviAwards/Helper/CaseTypeCategory.php
  CRM/CiviAwards/Service/ApplicantManagementUtils.php
  CRM/CiviAwards/Setup/AddApplicantManagementCaseTypeCustomGroupSupport.php
  CRM/CiviAwards/Setup/CreateAwardTypeOptionGroup.php
  CRM/CiviAwards/Test/Fabricator/CaseCategory.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-335: Update info.xml
  info.xml
Due: none

RSE-1296: Award Custom Field
  ang/civiawards/award-creation/directives/award-custom-field-sets.directive.html
  ang/civiawards/award-creation/directives/award-custom-field-sets.directive.js
  ang/civiawards/award-creation/directives/award.directive.html
  ang/civiawards/award-creation/directives/award.directive.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_custom-field-sets.scss
Due: eslint --fix, stylelint --fix

RSE-1296: Style fixes
  ang/civiawards/award-creation/directives/award-custom-field-sets.directive.html
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_custom-field-sets.scss
  templates/CRM/CiviAwards/Form/AwardCustomField.tpl
Due: stylelint --fix

RSE-1296: Update unit tests
  ang/test/civiawards/award-creation/directives/award-custom-field-sets.directive.spec.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/karma.conf.js
Due: eslint --fix

RSE-1296: Hide the loading screen when custom fields are saved
  ang/civiawards/award-creation/directives/award-custom-field-sets.directive.js
  ang/test/civiawards/award-creation/directives/award-custom-field-sets.directive.spec.js
Due: eslint --fix

RSE-1296: Refactor code
  ang/civiawards/award-creation/directives/award-custom-field-sets.directive.js
  ang/test/civiawards/award-creation/directives/award-custom-field-sets.directive.spec.js
Due: eslint --fix

RSE-1393: Change Award Manager field
  ang/civiawards/award-creation/directives/basic-details-form.directive.html
Due: none

RSE-1393: Add unit tests badge
  README.md
Due: none

RSE-1393: Update civicrm version in unit test github action
  .github/workflows/unit-test.yml
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.scss
  ./bin/phpcs.phar --standard=phpcs-ruleset.xml: any of: *.php
