Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.scss": [
    "stylelint --fix",
    "git add"
  ],
  "*.php": [
    "./bin/phpcs.phar --standard=phpcs-ruleset.xml"
  ]
}

RSE-372: PR feeedback - refactor code to remove clutter
  CRM/CiviAwards/BAO/AwardDetail.php
  CRM/CiviAwards/Helper/CreateReviewFieldsValidator.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-663: Add AwardPanel with Validation
  CRM/CiviAwards/BAO/AwardReviewPanel.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-663: Add Api file and API wrapper class
  CRM/CiviAwards/Api/Wrapper/AwardReviewPanelFormatSettingFields.php
  api/v3/AwardReviewPanel.php
  civiawards.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-372: PR feedback - throw exception for unknown options
  CRM/CiviAwards/Helper/CreateReviewFieldsValidator.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-372: PR review feedback - fix lint issues
  CRM/CiviAwards/Helper/CreateReviewFieldsValidator.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-371: Scoring fields ui and logic
  ang/civiawards/directives/award.directive.html
  ang/civiawards/directives/award.directive.js
  ang/civiawards/directives/review-fields-table.directive.html
  ang/civiawards/directives/review-fields-table.directive.js
Due: eslint --fix

RSE-371: UI Fixes
  ang/civiawards/directives/review-fields-table.directive.html
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
Due: stylelint --fix

RSE-371: PR Feedback
  ang/civiawards/directives/award.directive.js
  ang/civiawards/directives/review-fields-table.directive.html
  ang/civiawards/directives/review-fields-table.directive.js
  ang/test/civiawards/directives/award.directive.spec.js
  ang/test/civiawards/directives/review-fields-table.directive.spec.js
  ang/test/mocks/data/award-additional-details.data.js
  ang/test/mocks/data/review-fields.data.js
Due: eslint --fix

RSE-371: Create Review Field selection UI
  ang/civiawards/award-creation/directives/award-stages-table.directive.html
  ang/civiawards/award-creation/directives/award-stages-table.directive.js
  ang/civiawards/award-creation/directives/award.directive.html
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/award-creation/directives/basic-details-form.directive.html
  ang/civiawards/award-creation/directives/basic-details-form.directive.js
  ang/civiawards/award-creation/directives/review-field-selection.html
  ang/civiawards/award-creation/directives/review-fields-table.directive.html
  ang/civiawards/award-creation/directives/review-fields-table.directive.js
  ang/civiawards/directives/review-fields-table.directive.html
  ang/civiawards/directives/review-fields-table.directive.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
Due: eslint --fix, stylelint --fix

RSE-371: Unit Tests
  ang/civiawards/app.routes.js
  ang/civiawards/award-creation/directives/award.directive.js
  ang/test/civiawards/award-creation/directives/award-stages-table.directive.spec.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/civiawards/award-creation/directives/basic-details-form.directive.spec.js
  ang/test/civiawards/award-creation/directives/review-fields-table.directive.spec.js
  ang/test/civiawards/directives/review-fields-table.directive.spec.js
  ang/test/global.js
  ang/test/mocks/data/award-additional-details.data.js
  ang/test/mocks/data/review-fields.data.js
Due: eslint --fix

RSE-371: Add saved notification
  ang/civiawards/award-creation/directives/award.directive.js
Due: eslint --fix

RSE-663: Make panel title unique for case type
  CRM/CiviAwards/DAO/AwardReviewPanel.php
  sql/auto_install.sql
  xml/schema/CRM/CiviAwards/AwardReviewPanel.xml
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-371: Integrate with BE
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/award-creation/directives/review-fields-table.directive.html
  ang/civiawards/award-creation/directives/review-fields-table.directive.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/civiawards/award-creation/directives/review-fields-table.directive.spec.js
  ang/test/mocks/data/award-additional-details.data.js
Due: eslint --fix

RSE-371: Reduce Label width
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
Due: stylelint --fix

RSE-371: use tab name to focus tabs
  ang/civiawards/app.routes.js
  ang/civiawards/award-creation/directives/award.directive.html
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/award-creation/directives/review-fields-table.directive.html
  ang/civiawards/award-creation/directives/review-fields-table.directive.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/global.js
  css/civiawards.min.css.map
  scss/base/_variables.scss
  scss/civiawards.scss
  scss/components/_award.scss
Due: eslint --fix, stylelint --fix

RSE-305: add contact create option, show saved notification
  ang/civiawards/award-creation/directives/award.directive.html
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/award-creation/directives/basic-details-form.directive.html
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
Due: eslint --fix

RSE-681: Order profile fields by weight on review form
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-664: Add the Award Panel Contact and Contact Access Service
  CRM/CiviAwards/Service/AwardApplicationContactAccess.php
  CRM/CiviAwards/Service/AwardPanelContact.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-664: Add getcontactaccess API
  api/v3/AwardReviewPanel.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-664: Fix Award review validation issue.
  CRM/CiviAwards/BAO/AwardReviewPanel.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-710: Set up unit test for Awards extension
  phpunit.xml.dist
  tests/phpunit/BaseHeadlessTest.php
  tests/phpunit/bootstrap.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-710: Add Award Review Panel Service and BAO tests
  tests/phpunit/CRM/CiviAwards/BAO/AwardReviewPanelTest.php
  tests/phpunit/CRM/CiviAwards/Service/AwardApplicationContactAccessTest.php
  tests/phpunit/CRM/CiviAwards/Service/AwardPanelContactTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-710: Add Test Fabricators
  CRM/CiviAwards/Test/Fabricator/AwardReviewPanel.php
  CRM/CiviAwards/Test/Fabricator/CaseType.php
  CRM/CiviAwards/Test/Fabricator/Contact.php
  CRM/CiviAwards/Test/Fabricator/Relationship.php
  CRM/CiviAwards/Test/Fabricator/RelationshipType.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-710: Code refactoring. Fixing bugs
  CRM/CiviAwards/BAO/AwardReviewPanel.php
  CRM/CiviAwards/Service/AwardApplicationContactAccess.php
  CRM/CiviAwards/Service/AwardPanelContact.php
  api/v3/AwardReviewPanel.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-365: Add mock awards case type to civicase case type mocks
  ang/test/mocks/configs/awards-case-types.config.js
  ang/test/mocks/data/award.data.js
  ang/test/mocks/modules.mock.js
Due: eslint --fix

RSE-365: Add configuration buttons to award case types
  ang/civiawards/shared/configs/case-type-buttons.config.js
  ang/test/civiawards/shared/configs/case-type-buttons.config.spec.js
Due: eslint --fix

RSE-365: Specify award case types button icons
  ang/civiawards/shared/configs/case-type-buttons.config.js
  ang/test/civiawards/shared/configs/case-type-buttons.config.spec.js
Due: eslint --fix

RSE-365: Rename Dashboard Case Type Buttons provider
  ang/civiawards/shared/configs/case-type-buttons.config.js
  ang/test/civiawards/shared/configs/case-type-buttons.config.spec.js
Due: eslint --fix

RSE-365: Use case type provider instead of accesing them directly from the global civicase base object
  ang/civiawards/shared/configs/case-type-buttons.config.js
Due: eslint --fix

RSE-365: Use case type category find by name
  ang/civiawards/shared/configs/case-type-buttons.config.js
  ang/test/civiawards/shared/configs/case-type-buttons.config.spec.js
Due: eslint --fix

RSE-365: Use case type provider get by category
  ang/civiawards/shared/configs/case-type-buttons.config.js
Due: eslint --fix

RSE-366: Provide Add Award dashboard action button
  ang/civiawards/dashboard/configs/awards-dashboard-action-buttons.config.js
  ang/civiawards/dashboard/services/add-award-dashboard-action-button.service.js
  ang/test/civiawards/dashboard/configs/awards-dashboard-action-buttons.config.spec.js
  ang/test/civiawards/dashboard/services/add-award-dashboard-action-button.service.spec.js
Due: eslint --fix

RSE-366: Use CRM URL function on spec files
  ang/test/civiawards/dashboard/services/add-award-dashboard-action-button.service.spec.js
  ang/test/civiawards/shared/configs/case-type-buttons.config.spec.js
Due: eslint --fix

RSE-366: Move Create Award action button to last
  ang/civiawards/dashboard/configs/awards-dashboard-action-buttons.config.js
  ang/test/civiawards/dashboard/configs/awards-dashboard-action-buttons.config.spec.js
Due: eslint --fix

RSE-366: Use semantic name for button class
  ang/civiawards/dashboard/configs/awards-dashboard-action-buttons.config.js
Due: eslint --fix

RSE-298: Add permission for AwardDetail API's
  civiawards.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-362: Fix awards dashboard action button spec
  ang/test/civiawards/dashboard/configs/awards-dashboard-action-buttons.config.spec.js
Due: eslint --fix

RSE-362: Fix award directive spec
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
Due: eslint --fix

RSE-362: Redirect using window instead of location service
  ang/civiawards/dashboard/services/add-award-dashboard-action-button.service.js
  ang/test/civiawards/dashboard/services/add-award-dashboard-action-button.service.spec.js
Due: eslint --fix

RSE-404: Add More Filters buttons
  ang/civiawards/dashboard/configs/awards-dashboard-action-buttons.config.js
  ang/civiawards/dashboard/configs/awards-dashboard-action-items.config.js
  ang/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/add-award-dashboard-action-button.html
  ang/civiawards/dashboard/directives/dashboard-action-separator.html
  ang/civiawards/dashboard/directives/dashboard-action-separator.js
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.html
  ang/civiawards/dashboard/directives/more-filters-popup.html
  ang/test/civiawards/award-creation/directives/award-stages-table.directive.spec.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/civiawards/award-creation/directives/basic-details-form.directive.spec.js
  ang/test/civiawards/dashboard/configs/awards-dashboard-action-buttons.config.spec.js
  ang/test/civiawards/dashboard/configs/awards-dashboard-action-items.config.spec.js
  ang/test/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.spec.js
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
  ang/test/civiawards/shared/configs/case-type-buttons.config.spec.js
  ang/test/mocks/configs/awards-case-types.config.js
  ang/test/mocks/data/award.data.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
  scss/components/_dashboard.scss
Due: eslint --fix, stylelint --fix
