Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.scss": [
    "stylelint --fix",
    "git add"
  ],
  "*.php": [
    "./bin/phpcs.phar --standard=phpcs-ruleset.xml"
  ]
}

ACU-422: Only add payments module for awards finance instances
  CRM/CiviAwardsPaymentsTab/Hook/AddCiviCaseDependentAngularModules/AddModule.php
  ang/civiawards-payments-tab/configs/add-payments-tab.config.js
  ang/civiawards-payments-tab/constants/payments.constants.js
  civiawards.php
  tests/phpunit/CRM/CiviAwardsPaymentsTab/Hook/AddCiviCaseDependentAngularModules/AddModuleTest.php
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-422: Remove global mock values
  ang/test/global.js
Due: eslint --fix

ACU-422: Fix lint issues
  ang/civiawards.ang.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-422: Update payments tab specs to use new module name
  ang/test/civiawards-payments-tab/configs/add-payments-tab.config.spec.js
  ang/test/civiawards-payments-tab/services/payments-case-tab.service.spec.js
  ang/test/global.js
  ang/test/karma.conf.js
Due: eslint --fix

ACU-489: Add JS file for handling edit and delete logic
  js/award-payment-form.js
Due: eslint --fix

ACU-489: Add Unit tests for Award Payments form
  tests/phpunit/CRM/CiviAwards/Form/AwardPaymentTest.php
  tests/phpunit/CRM/CiviAwards/Helper/SessionTrait.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-489: Fix issue causing award payment form tests to fail
  CRM/CiviAwards/Hook/BuildForm/SetCustomGroupSubTypeValues.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-489: Code improvements
  CRM/CiviAwards/Form/AwardPayment.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-422: Rename hook class
  CRM/CiviAwardsPaymentsTab/Hook/AddCiviCaseDependentAngularModules/PaymentsTabModule.php
  civiawards.php
  tests/phpunit/CRM/CiviAwardsPaymentsTab/Hook/AddCiviCaseDependentAngularModules/PaymentsTabModuleTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-493: Fix table header
  ang/civiawards-payments-tab/directives/payments-table.directive.html
Due: none

ACU-493: Display payment type labels
  ang/civiawards-payments-tab.ang.php
  ang/civiawards-payments-tab/constants/payment-types.constant.js
  ang/civiawards-payments-tab/directives/payments-table.directive.html
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
  ang/test/global.js
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-493: Use bootstrap table responsive class
  ang/civiawards-payments-tab/directives/payments-table.directive.html
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.html
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_reviews-tab.scss
Due: stylelint --fix

ACU-493: Implement empty case tab state for payments and reviews
  ang/civiawards-payments-tab/directives/payments-table.directive.html
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.html
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_reviews-tab.scss
Due: eslint --fix, stylelint --fix

ACU-493: Add prefix to CRM Date filter
  ang/civiawards-payments-tab/directives/payments-table.directive.html
Due: none

ACU-493: Display application payment activities
  ang/civiawards-payments-tab/directives/payments-case-tab-content.directive.html
  ang/civiawards-payments-tab/directives/payments-case-tab-content.directive.js
  ang/civiawards-payments-tab/directives/payments-table.directive.html
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/civiawards-payments-tab/services/payments-case-tab-content.html
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
Due: eslint --fix

ACU-493: Remove extra line on directive
  ang/civiawards-payments-tab/directives/payments-table.directive.js
Due: eslint --fix

ACU-493: Move mock data to files
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
  ang/test/civiawards-payments-tab/mocks/data/custom-fields.data.js
  ang/test/civiawards-payments-tab/mocks/data/payment-types.data.js
  ang/test/civiawards-payments-tab/mocks/data/payments.data.js
  ang/test/civiawards-payments-tab/mocks/modules.mock.js
  ang/test/karma.conf.js
Due: eslint --fix

ACU-493: Add JS unit test watch task
  gulp-tasks/karma-unit-test.js
  gulpfile.js
Due: eslint --fix

ACU-493: Format due date
  ang/civiawards-payments-tab/directives/payments-table.directive.html
Due: none

ACU-494: Add payments basic filters
  ang/civiawards-payments-tab/directives/payments-table.directive.html
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
Due: eslint --fix

ACU-494: Move filters to new directive
  ang/civiawards-payments-tab/directives/payment-filters.directive.html
  ang/civiawards-payments-tab/directives/payment-filters.directive.js
  ang/civiawards-payments-tab/directives/payments-table.directive.html
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
Due: eslint --fix

ACU-494: Add payment types dropdown to filters
  ang/civiawards-payments-tab/directives/payment-filters.directive.html
  ang/civiawards-payments-tab/directives/payment-filters.directive.js
  ang/test/civiawards-payments-tab/directives/payment-filters.directive.spec.js
Due: eslint --fix

ACU-494: Add payment statuses dropdown to filters
  ang/civiawards-payments-tab/directives/payment-filters.directive.html
  ang/civiawards-payments-tab/directives/payment-filters.directive.js
  ang/test/civiawards-payments-tab/directives/payment-filters.directive.spec.js
  ang/test/civiawards-payments-tab/mocks/data/payment-statuses.data.js
Due: eslint --fix

ACU-494: Rename custom field filter keys
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
Due: eslint --fix

ACU-494: Add range picker to due date filter
  ang/civiawards-payments-tab/directives/payment-filters.directive.html
  ang/civiawards-payments-tab/directives/payment-filters.directive.js
Due: eslint --fix

RSE-1588: Refacor code and fix feedback
  CRM/CiviAwards/Event/Listener/AwardCaseFilter.php
  CRM/CiviAwards/Service/AwardCaseFilterPreProcess.php
  ang/civiawards-base/services/applicant-management-workflow.service.js
  ang/test/civiawards-base/services/applicant-management-workflow.service.spec.js
  api/v3/Award.php
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1588: Rename alter request params method
  CRM/CiviAwards/Event/Listener/AwardCaseFilter.php
  CRM/CiviAwards/Service/AwardCaseFilterPreProcess.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-494: Move filters inside table panel
  ang/civiawards-payments-tab/directives/payments-table.directive.html
Due: none

ACU-502: Rename custom field labels
  xml/custom_fields/payment_information_install.xml
Due: none

ACU-502: Align currency and amount fields. Remove time value for due date
  CRM/CiviAwards/Form/AwardPayment.php
  templates/CRM/CiviAwards/Form/AwardPayment.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-494: Add payment filters submit button
  ang/civiawards-payments-tab/directives/payment-filters.directive.html
Due: none

RSE-1588: Fix permissions
  CRM/CiviAwards/Hook/AlterAPIPermissions/Award.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-494: Increase filter inputs width
  ang/civiawards-payments-tab/directives/payment-filters.directive.html
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_payments-tab.scss
Due: stylelint --fix

CPS-443: Sync log tables in base upgrader
  CRM/CiviAwards/Upgrader.php
  CRM/CiviAwards/Upgrader/Steps/Step1007.php
  CRM/CiviAwards/Upgrader/Steps/Step1008.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-500: All Payment Actions
  ang/civiawards-payments-tab/directives/payments-case-tab-actions.directive.html
  ang/civiawards-payments-tab/directives/payments-case-tab-actions.directive.js
  ang/civiawards-payments-tab/directives/payments-case-tab-add-payment.directive.html
  ang/civiawards-payments-tab/directives/payments-case-tab-add-payment.directive.js
  ang/civiawards-payments-tab/directives/payments-case-tab-content.directive.html
  ang/civiawards-payments-tab/directives/payments-table.directive.html
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
  ang/test/civiawards-payments-tab/directives/payments-case-tab-actions.directive.spec.js
  ang/test/civiawards-payments-tab/directives/payments-case-tab-add-payment.directive.spec.js
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
Due: eslint --fix

ACU-500: Use status names directly
  ang/civiawards-payments-tab/services/awards-payment-activity-status.service.js
Due: eslint --fix

ACU-500: Update unit tests
  ang/civiawards-payments-tab/directives/payments-case-tab-add-payment.directive.js
  ang/civiawards-payments-tab/directives/payments-case-tab-content.directive.html
  ang/test/civiawards-payments-tab/directives/payment-filters.directive.spec.js
  ang/test/civiawards-payments-tab/directives/payments-case-tab-actions.directive.spec.js
  ang/test/civiawards-payments-tab/directives/payments-case-tab-add-payment.directive.spec.js
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
  ang/test/civiawards-payments-tab/mocks/data/payments.data.js
  ang/test/civiawards-payments-tab/services/awards-payment-activity-status.service.spec.js
Due: eslint --fix

ACU-500: Styles Fixes
  ang/civiawards-payments-tab/directives/payments-case-tab-add-payment.directive.html
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.html
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_crm-popup.scss
  scss/components/_review-activity.scss
  scss/components/_reviews-tab.scss
  templates/CRM/CiviAwards/Form/AwardPayment.tpl
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: stylelint --fix

ACU-500: Delete action customisation
  ang/civiawards-payments-tab/directives/payment-filters.directive.js
  ang/civiawards-payments-tab/directives/payments-case-tab-actions.directive.html
  ang/civiawards-payments-tab/directives/payments-case-tab-actions.directive.js
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/civiawards-payments-tab/services/awards-payment-activity-status.service.js
Due: eslint --fix

ACU-500: Fix spec sentences
  ang/test/civiawards-payments-tab/services/awards-payment-activity-status.service.spec.js
Due: eslint --fix
