Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.scss": [
    "stylelint --fix",
    "git add"
  ],
  "*.php": [
    "./bin/phpcs.phar --standard=phpcs-ruleset.xml"
  ]
}

ACU-500: Move refresh method to payment table
  ang/civiawards-payments-tab/directives/payment-filters.directive.html
  ang/civiawards-payments-tab/directives/payment-filters.directive.js
  ang/civiawards-payments-tab/directives/payments-table.directive.html
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/test/civiawards-payments-tab/directives/payment-filters.directive.spec.js
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
Due: eslint --fix

ACU-500: Fix directive name typo
  ang/civiawards-payments-tab/directives/payments-case-tab-add-payment.directive.js
Due: eslint --fix

ACU-500: Avoid using temp filters when refreshing payments
  ang/civiawards-payments-tab/directives/payment-filters.directive.html
  ang/civiawards-payments-tab/directives/payment-filters.directive.js
  ang/civiawards-payments-tab/directives/payments-table.directive.html
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
Due: eslint --fix

ACU-500: Move refresh method to payment table
  ang/civiawards-payments-tab/directives/payment-filters.directive.js
  ang/civiawards-payments-tab/directives/payments-table.directive.html
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
Due: eslint --fix

ACU-495: Go to first page when filtering payments
  ang/civiawards-payments-tab/directives/payments-table.directive.html
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
Due: eslint --fix

ACU-500: Avoid using temp filters when refreshing payments
  ang/civiawards-payments-tab/directives/payment-filters.directive.js
  ang/civiawards-payments-tab/directives/payments-table.directive.html
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
Due: eslint --fix

ACU-495: Add payments pagination support
  ang/civiawards-payments-tab/directives/payments-table.directive.html
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
Due: eslint --fix

ACU-500: Move refresh method to payment table
  ang/civiawards-payments-tab/directives/payment-filters.directive.js
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
Due: eslint --fix

ACU-507: Remove field limit
  ang/civiawards-payments-tab/directives/payments-table.directive.html
Due: none

ACU-500: Avoid using temp filters when refreshing payments
  ang/civiawards-payments-tab/directives/payment-filters.directive.js
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
Due: eslint --fix

ACU-507: Fix typo
  ang/civiawards-payments-tab/directives/payments-table.directive.js
Due: eslint --fix

ACU-505: Remove configuration cog for payment currency
  CRM/CiviAwards/Form/AwardPayment.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-524: Add attachment fields to award payments form
  CRM/CiviAwards/Form/AwardPayment.php
  templates/CRM/CiviAwards/Form/AwardPayment.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-518: Fix payment status types
  CRM/CiviAwards/Setup/CreateAwardPaymentActivityTypes.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-524: Fix HTML structure
  templates/CRM/CiviAwards/Form/AwardPayment.tpl
Due: none

ACU-524: Fix payment attachments style
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/civiawards.scss
  scss/components/_payments-form.scss
  templates/CRM/CiviAwards/Form/AwardPayment.tpl
Due: stylelint --fix

ACU-522: Add Euro currency
  CRM/CiviAwards/Upgrader/Steps/Step1010.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-527: Make custom fields searchable and name consistency
  xml/custom_fields/payment_bank_details_install.xml
Due: none

ACU-528: Fix payment form styles
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_payments-form.scss
  templates/CRM/CiviAwards/Form/AwardPayment.tpl
Due: stylelint --fix

COMCL-101: Regenerate civix file and Base upgrader class
  CRM/CiviAwards/Upgrader/Base.php
  civiawards.civix.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

COMCL-101: Exclude generated files
  phpcs-ruleset.xml
Due: none

ACU-536: Fix edit action visibility
  ang/civiawards-payments-tab/directives/payments-case-tab-actions.directive.html
  ang/civiawards-payments-tab/directives/payments-case-tab-actions.directive.js
  ang/civiawards-payments-tab/services/awards-payment-activity-status.service.js
  ang/test/civiawards-payments-tab/services/awards-payment-activity-status.service.spec.js
Due: eslint --fix

CPS-466: Update info.xml
  info.xml
Due: none

ACU-532: Fix API permission issues with Payment Information custom field set
  CRM/CiviAwards/Hook/AlterAPIPermissions/Award.php
  CRM/CiviAwards/Setup/CreateApplicantReviewActivityType.php
  CRM/CiviAwards/Setup/CreateAwardPaymentActivityTypes.php
  civiawards.php
  tests/phpunit/CRM/CiviAwards/Hook/AlterAPIPermissions/AwardTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-532: Refactor AllowAccessToApplicantReviewGroups class
  CRM/CiviAwards/Hook/AclGroup/ActivityTypeCustomGroupAccess.php
  CRM/CiviAwards/Hook/AclGroup/AllowAccessToApplicantReviewGroups.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-532: Add class to allow access to award payment custom group
  CRM/CiviAwards/Hook/AclGroup/AllowAccessToPaymentGroups.php
  civiawards.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-537: Handle missing payment data
  ang/civiawards-payments-tab/directives/payments-table.directive.js
  ang/test/civiawards-payments-tab/directives/payments-table.directive.spec.js
Due: eslint --fix

ACU-532: Add unit tests
  tests/phpunit/CRM/CiviAwards/Hook/AclGroup/AllowAccessToApplicantReviewGroupsTest.php
  tests/phpunit/CRM/CiviAwards/Hook/AclGroup/AllowAccessToPaymentGroupsTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-535: Fix non editable fields setting replacement
  CRM/CiviAwards/Form/AwardPayment.php
  js/award-payment-form.js
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-535: Only execute form load handler once
  js/award-payment-form.js
Due: eslint --fix

ACU-535: Move setting to payments tab scope
  CRM/CiviAwards/Form/AwardPayment.php
  js/award-payment-form.js
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-532: Return NULL if value is empty.
  CRM/CiviAwards/Hook/AclGroup/AllowAccessToPaymentGroups.php
  CRM/CiviAwards/Hook/AlterAPIPermissions/Award.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1202: Update Panel relationship label
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
Due: none

CPS-443: Add log table sync to the queue
  CRM/CiviAwards/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-519: Remove status filters from payment status labels
  CRM/CiviAwards/Upgrader/Steps/Step1010.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-471: Update info file
  info.xml
Due: none

CPS-427: Fix module files
  ang/civiawards-base.ang.php
  ang/civiawards-payments-tab.ang.php
  ang/civiawards-workflow.ang.php
  ang/civiawards.ang.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-427: Update Github tests CiviCRM version
  .github/workflows/unit-test.yml
Due: none

CPS-427: Fix non static function call from static function
  CRM/CiviAwards/BAO/AwardReviewPanel.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-464: Add github action to automate release pr
  .github/workflows/release-pr.yml
Due: none
