Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml, htmlhint

RSE-1776: Reserve draft status
  CRM/CiviAwards/Upgrader/Steps/Step1012.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1779: Specify case_roles parameter manually
  CRM/CiviAwards/Service/AwardPanelContact.php
  tests/phpunit/CRM/CiviAwards/Service/AwardPanelContactTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1779: Remove duplicate case_ids for contact
  CRM/CiviAwards/Service/AwardPanelContact.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1762: Update condition of active relationship
  CRM/CiviAwards/Service/AwardPanelContact.php
  tests/phpunit/CRM/CiviAwards/Service/AwardPanelContactTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1797: Prevent unauthorized users from viewing draft review
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

MAE-903: Allow sync function to be called from a static context
  CRM/CiviAwards/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

MAE-893: Prevent accessing null activity value
  CRM/CiviAwards/Form/AwardPayment.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

MAE-893: Provide default values for label and name
  CRM/CiviAwards/Test/Fabricator/CaseCategory.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

MAE-893: Supress reflection depreciation error
  tests/phpunit/BaseHeadlessTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

MAE-893: Provide valid contact ID
  tests/phpunit/CRM/CiviAwards/Form/AwardPaymentTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

MAE-893: Use MockBuilder in place of Prophesize
  tests/phpunit/CRM/CiviAwards/Service/AwardApplicationContactAccessTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

MAE-893: Use PHP8 and CiviCRM 5.51.3 in Test workflow
  .github/workflows/unit-test.yml
Due: none

MAE-893: Use CiviCase PHP8 dev brnach for unit test
  .github/workflows/unit-test.yml
Due: none

MAE-893: Use Usermenu PHP8 dev brnach for unit test
  .github/workflows/unit-test.yml
Due: none

MAE-893: Apply Compuco CiviCRM 5.51.3 patch
  .github/workflows/unit-test.yml
Due: none

MAE-893: Use Drupal version 7.79
  .github/workflows/unit-test.yml
Due: none

MAE-969: Fix award page not loading
  CRM/CiviAwards/Service/AwardCaseFilterPreProcess.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CIVIPLUS-1144: Fix typo in civiawards
  ang/civiawards-workflow/filters/directives/workflow-list-filter-subtype.html
Due: htmlhint

CIVIPLUS-1144: Create release 1.7.0
  info.xml
Due: none

CIVIIB-57: Use master branch of usermenu and civicase extension in test action
  .github/workflows/unit-test.yml
Due: none

CIVIIB-57: Explain the purpose of cheking out to CiviCase HEAD branch
  .github/workflows/unit-test.yml
Due: none

CIVIIB-57: Update compatible CiviCRM version
  info.xml
Due: none

COMPCRM-70: Fix running upgrader on PHP 8 sites
  CRM/CiviAwards/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

WHFSPRT-429: Fix new award creation
  CRM/CiviAwards/Api/Wrapper/AwardDetailExtraFields.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RCRM-22: Fix typeerror while awards creation process
  CRM/CiviAwards/Api/Wrapper/AwardDetailExtraFields.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

COMCL-351: Update info.xml
  info.xml
Due: none

COMCL-351: Update test container to 1.3.1
  .github/workflows/unit-test.yml
Due: none

CIWEMB-435: Allow using multiple review custom groups
  ang/civiawards-base.ang.php
  ang/civiawards.ang.php
  ang/civiawards/award-creation/directives/review-fields/review-fields-table.directive.js
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
  ang/civiawards/shared/constants.js
  ang/test/civiawards/award-creation/directives/review-fields/review-fields-table.directive.spec.js
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.scss
  ./bin/phpcs.phar --standard=phpcs-ruleset.xml: any of: *.php
  htmlhint: any of: ang/**/*.html
