Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml, htmlhint

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.scss": [
    "stylelint --fix",
    "git add"
  ],
  "*.php": [
    "./bin/phpcs.phar --standard=phpcs-ruleset.xml"
  ],
  "ang/**/*.html": [
    "htmlhint"
  ]
}

CIWEMB-435: Make it clear to which custom group the review field belongs to
  ang/civiawards/award-creation/directives/review-fields/review-field-selection.html
  ang/civiawards/award-creation/directives/review-fields/review-fields-table.directive.html
  ang/civiawards/award-creation/directives/review-fields/review-fields-table.directive.js
Due: eslint --fix, htmlhint

CIWEMB-435: Allow having two custom fields with the same name
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
Due: eslint --fix

COMCL-362: Bump version to 2.1.3
  info.xml
Due: none

COMCL-362: Bump version to 2.1.4
  info.xml
Due: none

RSESPRT-246: Prevent user from submitting review multiple times
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: none

RSESPRT-246: Install missing distutils.spawn module
  .github/workflows/unit-test.yml
Due: none

RSESPRT-246: Display custom error if activityID is not present in URL
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

MMB-398: Add bootstrap 5 class for case tags label
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: none

COMCL-635: Upgrade civix
  CRM/CiviAwards/Upgrader.php
  CRM/CiviAwards/Upgrader/Base.php
  civiawards.civix.php
  civiawards.php
  info.xml
  mixin/entity-types-php@1.0.0.mixin.php
  mixin/smarty-v2@1.0.1.mixin.php
  phpunit.xml.dist
  tests/phpunit/BaseHeadlessTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

COMCL-620: Fix add award button issue
  ang/civiawards.ang.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

COMCL-722: Allow user with with award review permission access option value
  CRM/CiviAwards/Event/Listener/AlterPermission.php
  civiawards.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

COMCL-921: Bump version
  info.xml
Due: none

THFSPRT-6: Add support for file fields in application reviews
  CRM/CiviAwards/Form/AwardReview.php
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

COMCL-981: Bump version
  info.xml
Due: none

COMCL-953: Move angular settings from plain array to settings factory class
  CRM/CiviAwards/Settings.php
  ang/civiawards-base.ang.php
  ang/civiawards-payments-tab.ang.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSESPRT-246: Display custom error if activityID is not present in URL
  CRM/CiviAwards/Form/AwardReview.php
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSESPRT-319: Allow access to review custom groups for users with review permission
  CRM/CiviAwards/Event/Listener/AlterCustomGroupPermission.php
  CRM/CiviAwards/Event/Listener/AlterOptionValuePermission.php
  ang/civiawards/award-creation/directives/review-fields/review-field-selection.html
  ang/civiawards/award-creation/directives/review-fields/review-fields-table.directive.html
  ang/civiawards/award-creation/directives/review-fields/review-fields-table.directive.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/civiawards/award-creation/directives/review-fields/review-fields-table.directive.spec.js
  ang/test/mocks/data/award-additional-details.data.js
  ang/test/mocks/data/review-fields.data.js
  civiawards.php
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml, htmlhint

COMCL-1012: Bump version
  info.xml
Due: none

CIVIMM-293: Fix permission label
  civiawards.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

BTHASPRT-47: Fix award type display table
  ang/civiawards-base/services/applicant-management-workflow.service.js
Due: eslint --fix

NEUSPRT-456: Set workflow subtype field label to current instance label
  ang/civiawards-workflow/filters/directives/workflow-list-filter-subtype.html
Due: htmlhint

NEUSPRT-456: Display current case category name in award dashboard
  ang/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/add-award-dashboard-action-button.html
Due: eslint --fix, htmlhint

COMCL-1072: Bump version
  info.xml
Due: none

CIVIMM-340: Declare Applicant Review CustomGroups as sub APIv4 entity
  CRM/CiviAwards/Event/Listener/AlterCustomGroupPermission.php
  Civi/Api4/Action/ApplicantReviewField/GetAction.php
  Civi/Api4/ApplicantReviewField.php
  ang/civiawards/award-creation/directives/review-fields/review-fields-table.directive.js
  ang/test/civiawards/award-creation/directives/review-fields/review-fields-table.directive.spec.js
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
  civiawards.php
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

COMCL-1100: Bump version for 2.4.2 release
  info.xml
Due: none

CIVIMM-340: Fetch review activities group with applicatnreview api
  Civi/Api4/Action/ApplicantReviewField/GetAction.php
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CIVIMMM-364: Optimize event listener
  CRM/CiviAwards/Event/Listener/AlterCustomGroupPermission.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

COMCL-1158: Bump version
  info.xml
Due: none

ESESPRT-219: Fix contribution creation
  CRM/CiviAwards/Event/Listener/AlterCustomGroupPermission.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

🤖 Update version to 3.4.0 in info.xml
  info.xml
Due: none

COMCL-1286: Update CiviAwards extension to v2.5.0
  info.xml
Due: none

🤖 Update version to 8.21.0 in info.xml
  info.xml
Due: none

🤖 Update version to 8.22.0 in info.xml
  info.xml
Due: none

🤖 Update version to 7.99.0-alpha1 in info.xml
  info.xml
Due: none

🤖 Update version to 7.0.0-alpha1 in info.xml
  info.xml
Due: none

🤖 Update releaseDate to 2026-01-20
  info.xml
Due: none
