Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-671: Add unit tests
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
Due: eslint --fix

RSE-671: Refactor code
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
Due: eslint --fix, stylelint --fix

RSE-674: Add tabs and Application Status to review panel
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
Due: eslint --fix

RSE-674: Add Unit tests
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
  ang/test/mocks/data/review-panels.data.js
Due: eslint --fix

RSE-674: Anonymised panel support added
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
  ang/test/mocks/data/review-panels.data.js
Due: eslint --fix

RSE-674: Refactor code
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
Due: eslint --fix

RSE-674: Capitalise labels
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
Due: none

RSE-944: Fix API param value when case type id is null
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
Due: eslint --fix

RSE-1033: Define foreign key relationship between award manager and case types
  CRM/CiviAwards/DAO/AwardDetail.php
  CRM/CiviAwards/DAO/AwardManager.php
  CRM/CiviAwards/DAO/AwardReviewPanel.php
  sql/auto_install.sql
  sql/auto_uninstall.sql
  xml/schema/CRM/CiviAwards/AwardManager.xml
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-944: Write tests for no result behavior for case_type_id param
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

RSE-1033: Add "Show Disabled Awards" filter
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/more-filters-popup.html
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

RSE-944: Code restructure - remove unnecessary code and fix the test language
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

RSE-892: Fix content formatting on the review table columns for HTML rich text
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.html
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
Due: eslint --fix

RSE-1033: Remove extra attributes
  ang/civiawards/dashboard/directives/more-filters-popup.html
Due: none

RSE-1033: Remove extra ng-scope class name
  ang/civiawards/dashboard/directives/more-filters-popup.html
Due: none

RSE-1033: Add explanation for repeated case type id is active parameter
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
Due: eslint --fix

RSE-1033: Fix SQL code structure
  sql/auto_install.sql
  sql/auto_uninstall.sql
Due: none

RSE-654: Fix error when no realtionships are present in review panels
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
  ang/test/mocks/data/review-panels.data.js
Due: eslint --fix

RSE-654: Move expected values to variables in unit tests
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
Due: eslint --fix

RSE-956: Define award activity types
  ang/civiawards/award-creation/directives/award.directive.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
Due: eslint --fix

RSE-675: Add tags Support to Review Panels
  .npmrc 
  .nvmrc
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
  ang/test/mocks/data/review-panels.data.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  package.json
  scss/components/_award.scss
Due: eslint --fix, stylelint --fix

RSE-675: Fix labels
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
Due: none

RSE-675: use common directive for tags
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
Due: eslint --fix, stylelint --fix

RSE-675: Fix unit tests
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
Due: eslint --fix

RSE-653: Add permission for deleting panels.
  CRM/CiviAwards/Hook/AlterAPIPermissions/Award.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-956: Allow review form to create new reviews
  ang/civiawards/activity-forms/services/review-form.service.js
  ang/test/civiawards/activity-forms/services/review-form.service.spec.js
Due: eslint --fix

RSE-956: Add review creation activity to case menu
  ang/civiawards/award-creation/directives/award.directive.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
Due: eslint --fix

RSE-956: Refresh list of review activities when case has been updated
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
Due: eslint --fix

RSE-956: Define civicase reload parameter as JSON for the award review form
  civiawards.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-956: Merge activity types into a single array
  ang/civiawards/award-creation/directives/award.directive.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
Due: eslint --fix

CPS-154: Update Info file.
  info.xml
Due: none

RSE-1052: Hide delete button when creating new panel
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
Due: eslint --fix

RSE-1052: Fix unit test name
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
Due: eslint --fix

RSE-1051: Update Readme
  README.md
Due: none

RSE-1051: Change release date
  info.xml
Due: none

RSE-983: Replace Client word with Applicant
  config/word_replacement/awards_category.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-955: Display error message when no review fields are defined
  CRM/CiviAwards/Form/AwardReview.php
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-898: Pass status grouping when filtering cases by status
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

ACU-67: Add Extra fields to parameters to support application status restriction.
  CRM/CiviAwards/BAO/AwardReviewPanel.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-67: Add tests for the two parameters
  tests/phpunit/CRM/CiviAwards/BAO/AwardReviewPanelTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.scss
  ./bin/phpcs.phar --standard=phpcs-ruleset.xml: any of: *.php
