Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.scss": [
    "stylelint --fix",
    "git add"
  ],
  "*.php": [
    "./bin/phpcs.phar --standard=phpcs-ruleset.xml"
  ]
}

CPS-411: Remove activity_types support
  CRM/CiviAwards/Service/AwardImport.php
  tests/phpunit/CRM/CiviAwards/Service/AwardImportTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1597: Block reviews from being created or updated on disabled applications
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.html
Due: none

ACU-443: Fix typo
  CRM/CiviAwards/Hook/PostProcess/EnableBankDetailsFieldSet.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-411: Move helper method to the test class
  CRM/CiviAwards/Service/AwardImport.php
  tests/phpunit/CRM/CiviAwards/Service/AwardImportTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-411: Rename helper method
  CRM/CiviAwards/Service/AwardImport.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-411: Assert exception message
  tests/phpunit/CRM/CiviAwards/Service/AwardImportTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-411: Use specs from related entities
  api/v3/AwardImport.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1597: Fix awards mock data
  ang/test/civiawards/dashboard/configs/case-type-items.config.spec.js
  ang/test/mocks/configs/awards-case-types.config.js
  ang/test/mocks/data/award.data.js
Due: eslint --fix

RSE-1034: Add filter to display disabled awards and applications
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/more-filters-popup.html
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

RSE-1620: Change default value for extends_entity_column_value for award custom groups
  CRM/CiviAwards/Service/ApplicantManagementCustomGroupPostProcessor.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-467: Add the custom field set XML. Update bank details xml
  xml/custom_fields/payment_approval_install.xml
  xml/custom_fields/payment_bank_details_install.xml
  xml/custom_fields/payment_information_install.xml
Due: none

ACU-467: Add setup to create award payment activity types. Update add currency related custom fields to only update currency option group
  CRM/CiviAwards/Setup/AddCurrencyOptionGroupToCustomFields.php
  CRM/CiviAwards/Setup/AddCurrencyRelatedCustomFields.php
  CRM/CiviAwards/Setup/CreateAwardPaymentActivityTypes.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-467: Update upgrader for setting up payment details custom fields.
  CRM/CiviAwards/Upgrader.php
  CRM/CiviAwards/Upgrader/Steps/Step1009.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1620: Fix tests to cover the changed logic
  tests/phpunit/CRM/CiviAwards/Service/ApplicantManagementCustomGroupPostProcessorTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-423: Sync log tables while updating tables in upgraders
  CRM/CiviAwards/Upgrader/Steps/Step1007.php
  CRM/CiviAwards/Upgrader/Steps/Step1008.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1627: Fix award filters notification
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

RSE-1627: Update disabled awards filter label
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/more-filters-popup.html
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

CPS-411: Add validation for empty award title
  CRM/CiviAwards/Service/AwardImport.php
  tests/phpunit/CRM/CiviAwards/Service/AwardImportTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-411: Add validation for award subtypes
  CRM/CiviAwards/BAO/AwardDetail.php
  tests/phpunit/CRM/CiviAwards/Service/AwardImportTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-411: Add validation for award start date
  CRM/CiviAwards/BAO/AwardDetail.php
  tests/phpunit/CRM/CiviAwards/Service/AwardImportTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-411: Add validation for award managers
  CRM/CiviAwards/BAO/AwardDetail.php
  tests/phpunit/CRM/CiviAwards/Service/AwardImportTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-411: Add validateMandatory method for award details
  CRM/CiviAwards/BAO/AwardDetail.php
  tests/phpunit/CRM/CiviAwards/Service/AwardImportTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-486: Add awards payment form
  CRM/CiviAwards/Form/AwardPayment.php
  templates/CRM/CiviAwards/Form/AwardPayment.tpl
  xml/Menu/civiawards.xml
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1295: Fix award redirection
  ang/civiawards-workflow/services/applicant-management-workflow.service.js
  ang/civiawards/app.routes.js
  ang/civiawards/award-creation/directives/award.directive.html
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/edit-award-button.controller.js
  ang/test/civiawards-workflow/services/applicant-management-workflow.service.spec.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/civiawards/dashboard/configs/case-type-items.config.spec.js
  ang/test/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.spec.js
Due: eslint --fix

CPS-449: Update release details
  info.xml
Due: none

RSE-1588: Change Dashboard filtering logic
  ang/civiawards-base/services/applicant-management-workflow.service.js
  ang/civiawards-workflow/configs/application-management-workflow-list-filters.config.js
  ang/civiawards-workflow/filters/controllers/workflow-filter.controller.js
  ang/civiawards-workflow/filters/directives/workflow-list-filter-is-template.html
  ang/civiawards-workflow/filters/directives/workflow-list-filter-manager.html
  ang/civiawards-workflow/filters/directives/workflow-list-filter-subtype.html
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/more-filters-popup.html
  ang/test/civiawards-base/services/applicant-management-workflow.service.spec.js
Due: eslint --fix

RSE-1588: Show all awards
  ang/civiawards-workflow/services/applicant-management-workflow.service.js
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/test/civiawards-workflow/services/applicant-management-workflow.service.spec.js
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

RSE-1588: Add new api to search awards
  ang/civiawards-workflow/services/applicant-management-workflow.service.js
  api/v3/Award.php
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1588: Added Unit tests
  ang/civiawards-workflow/services/applicant-management-workflow.service.js
  ang/test/civiawards-workflow/services/applicant-management-workflow.service.spec.js
Due: eslint --fix

RSE-1588: Add a listener for Case API
  CRM/CiviAwards/Event/Listener/AwardCaseFilter.php
  ang/civiawards-base/services/applicant-management-workflow.service.js
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  civiawards.php
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-422: Expose instances finance support setting
  ang/civiawards.ang.php
  ang/civiawards/finance-tab/constants/finance.constants.js
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-422: Add finance tab for supported instances
  ang/civiawards/finance-tab/configs/add-finance-tab.config.js
  ang/test/civiawards/finance-tab/configs/add-finance-tab.config.spec.js
  ang/test/global.js
Due: eslint --fix

ACU-422: Add base finance tab template
  ang/civiawards/finance-tab/directives/finance-case-tab-content.directive.html
  ang/civiawards/finance-tab/directives/finance-case-tab-content.directive.js
  ang/civiawards/finance-tab/services/finance-case-tab-content.html
  ang/civiawards/finance-tab/services/finance-case-tab.service.js
  ang/test/civiawards/finance-tab/services/finance-case-tab.service.spec.js
Due: eslint --fix

ACU-422: Rename finance tab to payments tab
  ang/civiawards/finance-tab/directives/finance-case-tab-content.directive.js
  ang/civiawards/finance-tab/services/finance-case-tab-content.html
  ang/civiawards/finance-tab/services/finance-case-tab.service.js
  ang/civiawards/payments-tab/configs/add-payments-tab.config.js
  ang/civiawards/payments-tab/constants/payments.constants.js
  ang/civiawards/payments-tab/directives/payments-case-tab-content.directive.html
  ang/civiawards/payments-tab/directives/payments-case-tab-content.directive.js
  ang/civiawards/payments-tab/services/payments-case-tab-content.html
  ang/civiawards/payments-tab/services/payments-case-tab.service.js
  ang/test/civiawards/finance-tab/services/finance-case-tab.service.spec.js
  ang/test/civiawards/payments-tab/configs/add-payments-tab.config.spec.js
  ang/test/civiawards/payments-tab/services/payments-case-tab.service.spec.js
Due: eslint --fix

ACU-422: Add tab containers elements
  ang/civiawards/payments-tab/directives/payments-case-tab-content.directive.html
Due: none

RSE-1588: Update unit tests
  ang/civiawards-base/services/applicant-management-workflow.service.js
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/test/civiawards-base/services/applicant-management-workflow.service.spec.js
  ang/test/civiawards-workflow/filters/controllers/workflow-filter.controller.spec.js
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

RSE-1588: Refactor BE code
  CRM/CiviAwards/Event/Listener/AwardCaseFilter.php
  CRM/CiviAwards/Service/AwardCaseFilterPreProcess.php
  api/v3/Award.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-422: Move payments tab to new angular module
  ang/civiawards-payments-tab.ang.php
  ang/civiawards-payments-tab.js
  ang/civiawards-payments-tab/configs/add-payments-tab.config.js
  ang/civiawards-payments-tab/constants/payments.constants.js
  ang/civiawards-payments-tab/directives/payments-case-tab-content.directive.html
  ang/civiawards-payments-tab/directives/payments-case-tab-content.directive.js
  ang/civiawards-payments-tab/services/payments-case-tab-content.html
  ang/civiawards-payments-tab/services/payments-case-tab.service.js
  ang/civiawards.ang.php
  ang/civiawards/payments-tab/directives/payments-case-tab-content.directive.js
  ang/test/civiawards-payments-tab/configs/add-payments-tab.config.spec.js
  ang/test/civiawards-payments-tab/services/payments-case-tab.service.spec.js
  civiawards.php
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-489: Set permission for award payment form page
  xml/Menu/civiawards.xml
Due: none

ACU-489: Add logic for Deleting/Editing an awards payment
  CRM/CiviAwards/Form/AwardPayment.php
  templates/CRM/CiviAwards/Form/AwardPayment.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml
