Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml, htmlhint

RSESPRT-43: Fix case types being overriddden by award
  ang/civiawards/award-creation/directives/award.directive.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/mocks/data/award.data.js
  package-lock.json
  package.json
Due: eslint --fix

RSESPRT-43: Add Code comment
  ang/civiawards/award-creation/directives/award.directive.js
  package-lock.json
  package.json
Due: eslint --fix

RSESPRT-45: Get all the custom groups that needs to be updated
  CRM/CiviAwards/Helper/CustomGroupPostProcess.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSESPRT-45: Get all the case types that needs to be updated
  CRM/CiviAwards/Helper/CustomGroupPostProcess.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-655: Fix new site deployments
  CRM/CiviAwards/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSESPRT-61: Show all review fields
  CRM/CiviAwards/Service/AwardProfile.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSESPRT-57: Handle disabled review fields
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/award-creation/directives/review-fields/review-field-selection.html
  ang/civiawards/award-creation/directives/review-fields/review-fields-table.directive.html
  ang/civiawards/award-creation/directives/review-fields/review-fields-table.directive.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/civiawards/award-creation/directives/review-fields/review-fields-table.directive.spec.js
Due: eslint --fix, htmlhint

CPS-701: Fix supported civicrm version
  README.md
Due: none

CPS-701: Fix broken unit tests
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
Due: eslint --fix

PROD-41: Update github workflow test container
  .github/workflows/unit-test.yml
Due: none

PROD-41: Add usermenu extension to test dependecies
  .github/workflows/unit-test.yml
Due: none

PROD-41: Use AngularJS Loader from Civi service statics
  CRM/CiviAwards/Page/AwardAngular.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

IO-143: Enable/Disable the extension properly
  CRM/CiviAwards/Disable/DeactivateAwardsMenus.php
  CRM/CiviAwards/Disable/DeactivateCustomGroupSupportForApplicantManagement.php
  CRM/CiviAwards/Disable/DeactivateCustomGroupSupportForAwardsCategory.php
  CRM/CiviAwards/Enable/ActivateAwardsMenus.php
  CRM/CiviAwards/Enable/ActivateCustomGroupSupportForApplicantManagement.php
  CRM/CiviAwards/Enable/ActivateCustomGroupSupportForAwardsCategory.php
  CRM/CiviAwards/Helper/CaseTypeCategory.php
  CRM/CiviAwards/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

IO-143: Fix extension uninstallation/installation
  CRM/CiviAwards/Setup/DeleteApplicantReviewCustomField.php
  CRM/CiviAwards/Setup/DeleteCustomGroups.php
  CRM/CiviAwards/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

PROD-19: Version 1.3.0 release
  info.xml
Due: none

ACU-775: Add value in functional currency and amount to payment table
  ang/civiawards-payments-tab/directives/payments-table.directive.html
Due: htmlhint

ACU-775: Fix failing linters
  .github/workflows/linters.yml
  package-lock.json
  package.json
Due: none

ACU-775: Bump version to 1.4.0
  info.xml
Due: none

RSE-1774: Add/Update review status
  CRM/CiviAwards/Form/AwardReview.php
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1774: Use coder version 8.3.13
  bin/install-php-linter
Due: none

RSE-1758: Create new application reviewer relationship on install
  CRM/CiviAwards/Setup/CreateApplicationReviewerRelationship.php
  CRM/CiviAwards/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1758: Add upgrader to create the new application reviewer relationship
  CRM/CiviAwards/Upgrader/Steps/Step1012.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1774: Show status on view screen
  CRM/CiviAwards/Form/AwardReview.php
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1758: Assign application reviewer role to award case type on create
  ang/civiawards/award-creation/directives/award.directive.js
Due: eslint --fix

RSE-1758: Update test to assert that the application reviewer role is attached to new Awards type
  ang/civiawards/award-creation/directives/award.directive.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/mocks/data/award.data.js
Due: eslint --fix

RSE-1758: Assert manager and creator for the application reviewer role are null by default
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
Due: eslint --fix

RSE-1766: Show activity status in the list
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.html
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
  ang/test/mocks/data/reviews.data.js
Due: eslint --fix, htmlhint

RSE-1774: Remove duplicate html element
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: none

RSE-1760: Allow managers to specify case roles that can review an application
  CRM/CiviAwards/BAO/AwardReviewPanel.php
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
  ang/test/mocks/data/review-panels.data.js
  templates/CRM/CiviAwards/Form/Award.hlp
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml, htmlhint

RSE-1760: Add case_roles to formatted contact settings
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
Due: eslint --fix

RSE-1760: Use localisation tags for the form labels
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
Due: htmlhint

RSE-1762: Add method to retrieve contact assigned to an award role
  CRM/CiviAwards/Service/AwardPanelContact.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1763: Allow editing review when status is draft
  CRM/CiviAwards/Form/AwardReview.php
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1763: Add notification text
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1762: Refactor the use of AwardPanelContact in ApplicationContactAccess
  CRM/CiviAwards/Form/AwardReview.php
  CRM/CiviAwards/Service/AwardApplicationContactAccess.php
  api/v3/AwardReviewPanel.php
  tests/phpunit/CRM/CiviAwards/Service/AwardApplicationContactAccessTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1762: Refactor the method that retrieves contact assigned to award panel role
  CRM/CiviAwards/Service/AwardPanelContact.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1762: Add field case_ids to the getcontactaccess API
  CRM/CiviAwards/Service/AwardApplicationContactAccess.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1762: Assert award panel case_roles works as expected
  tests/phpunit/CRM/CiviAwards/Service/AwardApplicationContactAccessTest.php
  tests/phpunit/CRM/CiviAwards/Service/AwardPanelContactTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1763: Use pushUserContext on Admin page
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1776: Assign Applicant Review category to draft status
  CRM/CiviAwards/Upgrader/Steps/Step1012.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.scss
  ./bin/phpcs.phar --standard=phpcs-ruleset.xml: any of: *.php
  htmlhint: any of: ang/**/*.html
