Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.scss": [
    "stylelint --fix",
    "git add"
  ],
  "*.php": [
    "./bin/phpcs.phar --standard=phpcs-ruleset.xml"
  ]
}

RSE-1296: Fix for error while creating an award
  ang/civiawards/award-creation/directives/award-custom-field-sets.directive.js
  ang/test/civiawards/award-creation/directives/award-custom-field-sets.directive.spec.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_custom-field-sets.scss
  templates/CRM/CiviAwards/Form/AwardCustomField.tpl
Due: eslint --fix, stylelint --fix

CPS:347: Update version and release date
  info.xml
Due: none

CPS-347: Add missing relationship type options
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
Due: eslint --fix

CPS-360: Fix save award bug when there are no custom fields defined
  ang/civiawards/award-creation/directives/award-custom-field-sets.directive.js
  ang/test/civiawards/award-creation/directives/award-custom-field-sets.directive.spec.js
Due: eslint --fix

RSE-1374: Add function for fetching subtypes. Use function in relevant places
  CRM/CiviAwards/Helper/CaseTypeCategory.php
  CRM/CiviAwards/Setup/ProcessAwardsCategoryForCustomGroupSupport.php
  CRM/CiviAwards/Upgrader/Steps/Step1005.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1374: Update Award Detail DAO so as to be able to fetch case category from case type ID with API
  CRM/CiviAwards/DAO/AwardDetail.php
  phpcs-ruleset.xml
  xml/schema/CRM/CiviAwards/AwardDetail.xml
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1374: Add old Award detail object variable to award detail BAO
  CRM/CiviAwards/BAO/AwardDetail.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1374: Update Helper class. Implement display formatter and custom group post processor
  CRM/CiviAwards/Helper/CustomGroupPostProcess.php
  CRM/CiviAwards/Service/ApplicantManagementCustomGroupDisplayFormatter.php
  CRM/CiviAwards/Service/ApplicantManagementCustomGroupPostProcessor.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1374: Implement hook for AwardDetail Post process and related classes
  CRM/CiviAwards/Hook/Post/UpdateCaseTypeListForCustomGroup.php
  CRM/CiviAwards/Service/ApplicantManagementAwardDetailPostProcessor.php
  CRM/CiviAwards/Service/ApplicantManagementUtils.php
  civiawards.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1374: Implement hook to set subtyes default values for applicant management related custom group
  CRM/CiviAwards/Hook/BuildForm/SetCustomGroupSubTypeValues.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1380: Add manage workflow menu
  CRM/CiviAwards/Service/ApplicantManagementMenu.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1380: Add upgrader to create menu links and separators
  CRM/CiviAwards/Setup/AddManageWorkflowMenu.php
  CRM/CiviAwards/Upgrader/Steps/Step1006.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1380: Fix unit tests
  CRM/CiviAwards/Service/ApplicantManagementMenu.php
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1380: Code refactor
  CRM/CiviAwards/Setup/AddManageWorkflowMenu.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1374: Run create function only when necessary
  CRM/CiviAwards/Service/ApplicantManagementAwardDetailPostProcessor.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-44: Set instance value whether category instance exists or not.
  CRM/CiviAwards/Setup/CreateApplicantManagementOption.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1457: Fix custom field subtype bug
  CRM/CiviAwards/Service/ApplicantManagementAwardDetailPostProcessor.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-375: Update release version and date
  info.xml
Due: none

CPS-375: Update release date
  info.xml
Due: none

RSE-1455: Fix duplicate workflow
  ang/civiawards-workflow.ang.php
  ang/civiawards-workflow.js
  ang/civiawards-workflow/duplicate-workflow-applicant-management.service.js
  ang/test/civiawards-workflow/duplicate-workflow-applicant-management.service.spec.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/civiawards/award-creation/directives/basic-details-form.directive.spec.js
  ang/test/civiawards/award-creation/directives/review-fields/review-fields-table.directive.spec.js
  ang/test/global.js
  ang/test/karma.conf.js
  ang/test/mocks/data/award-additional-details.data.js
  civiawards.php
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1455: Refactor code
  ang/civiawards-workflow/duplicate-workflow-applicant-management.service.js
  ang/test/civiawards-workflow/duplicate-workflow-applicant-management.service.spec.js
Due: eslint --fix

RSE-1388: Rename award type to sub type in FE
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/award-creation/directives/basic-details-form.directive.html
  ang/civiawards/award-creation/directives/basic-details-form.directive.js
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/more-filters-popup.html
  ang/civiawards/shared/services/award-subtype.service.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/civiawards/award-creation/directives/basic-details-form.directive.spec.js
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
  ang/test/civiawards/shared/services/award-subtype.service.spec.js
  ang/test/civiawards/shared/services/award-type.service.spec.js
  ang/test/mocks/data/award-additional-details.data.js
  ang/test/mocks/data/sub-type.data.js
Due: eslint --fix

RSE-1388: Rename award type to sub type in BE
  CRM/CiviAwards/Form/AwardCustomField.php
  CRM/CiviAwards/Helper/CaseTypeCategory.php
  CRM/CiviAwards/Helper/CustomGroupPostProcess.php
  CRM/CiviAwards/Service/ApplicantManagementAwardDetailPostProcessor.php
  CRM/CiviAwards/Service/ApplicantManagementUtils.php
  CRM/CiviAwards/Setup/CreateAwardTypeOptionGroup.php
  CRM/CiviAwards/Setup/ProcessAwardsCategoryForCustomGroupSupport.php
  CRM/CiviAwards/Setup/RenameAwardTypeField.php
  CRM/CiviAwards/Uninstall/RemoveCustomGroupSupportForApplicantManagement.php
  CRM/CiviAwards/Upgrader.php
  CRM/CiviAwards/Upgrader/Steps/Step1005.php
  CRM/CiviAwards/Upgrader/Steps/Step1007.php
  ang/civiawards.ang.php
  templates/CRM/CiviAwards/Form/AwardCustomField.tpl
  xml/schema/CRM/CiviAwards/AwardDetail.xml
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1388: Autogenerated changes by running script in BE
  CRM/CiviAwards/DAO/AwardDetail.php
  CRM/CiviAwards/DAO/AwardManager.php
  CRM/CiviAwards/DAO/AwardReviewPanel.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1388: Misc fixes
  CRM/CiviAwards/Helper/CustomGroupPostProcess.php
  CRM/CiviAwards/Service/ApplicantManagementAwardDetailPostProcessor.php
  CRM/CiviAwards/Service/ApplicantManagementCustomGroupDisplayFormatter.php
  CRM/CiviAwards/Setup/CreateAwardSubtypeOptionGroup.php
  CRM/CiviAwards/Setup/RenameAwardTypeField.php
  CRM/CiviAwards/Upgrader/Steps/Step1007.php
  ang/civiawards.ang.php
  sql/auto_install.sql
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1388: Use ts function
  ang/civiawards/award-creation/directives/basic-details-form.directive.html
  ang/civiawards/dashboard/directives/more-filters-popup.html
  templates/CRM/CiviAwards/Form/AwardCustomField.tpl
Due: none

RSE-1388: Fix naming conventions
  CRM/CiviAwards/Form/AwardCustomField.php
  CRM/CiviAwards/Helper/CaseTypeCategory.php
  CRM/CiviAwards/Helper/CustomGroupPostProcess.php
  CRM/CiviAwards/Service/ApplicantManagementAwardDetailPostProcessor.php
  CRM/CiviAwards/Service/ApplicantManagementUtils.php
  CRM/CiviAwards/Setup/CreateAwardSubtypeOptionGroup.php
  CRM/CiviAwards/Setup/ProcessAwardsCategoryForCustomGroupSupport.php
  CRM/CiviAwards/Setup/RenameAwardTypeField.php
  CRM/CiviAwards/Upgrader/Steps/Step1005.php
  CRM/CiviAwards/Upgrader/Steps/Step1007.php
  templates/CRM/CiviAwards/Form/AwardCustomField.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1388: Fix AwardDetail BAO
  CRM/CiviAwards/DAO/AwardDetail.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1388: Use constants
  CRM/CiviAwards/Setup/CreateAwardSubtypeOptionGroup.php
  CRM/CiviAwards/Upgrader/Steps/Step1007.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-386: Update info.xml
  info.xml
Due: none

ACU-370: Fix markup of 'Review Submitted' button
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: none

RSE-1448: Add tests for aplicant management custom group post processor classes
  CRM/CiviAwards/Helper/CustomGroupPostProcess.php
  CRM/CiviAwards/Service/ApplicantManagementCustomGroupDisplayFormatter.php
  tests/phpunit/CRM/CiviAwards/Service/ApplicantManagementAwardDetailPostProcessorTest.php
  tests/phpunit/CRM/CiviAwards/Service/ApplicantManagementCustomGroupDisplayFormatterTest.php
  tests/phpunit/CRM/CiviAwards/Service/ApplicantManagementCustomGroupPostProcessorTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1384: Update Award Detail XML and DAO
  CRM/CiviAwards/DAO/AwardDetail.php
  xml/schema/CRM/CiviAwards/AwardDetail.xml
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1384: Update Award Manager and Review Panel DAO
  CRM/CiviAwards/DAO/AwardManager.php
  CRM/CiviAwards/DAO/AwardReviewPanel.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1384: Add column for new and existing sites
  CRM/CiviAwards/Upgrader/Steps/Step1008.php
  sql/auto_install.sql
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1404: Fix Contact Group limit
  ang/civiawards/shared/directives/contacts-group-dropdown.directive.js
Due: eslint --fix

RSE-1434: Expose list of application statuses
  ang/civiawards/award-creation/directives/award.directive.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
Due: eslint --fix

RSE-1434: Display list of application statuses as provided by the award directive
  ang/civiawards/award-creation/directives/award.directive.html
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
Due: eslint --fix

RSE-1434: Use injected TS service
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
Due: eslint --fix

RSE-1434: Fix permissions tab status options
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
Due: none
