Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.scss": [
    "stylelint --fix",
    "git add"
  ],
  "*.php": [
    "./bin/phpcs.phar --standard=phpcs-ruleset.xml"
  ]
}

RSE-657: Expose create/edit awards permission
  ang/civiawards.ang.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-657: Check permissions when creating new awards
  ang/civiawards/dashboard/configs/awards-dashboard-action-buttons.config.js
  ang/test/civiawards/dashboard/configs/awards-dashboard-action-buttons.config.spec.js
Due: eslint --fix

RSE-657: Check permissions when editing awards
  ang/civiawards/shared/configs/case-type-buttons.config.js
  ang/test/civiawards/shared/configs/case-type-buttons.config.spec.js
Due: eslint --fix

RSE-404: Fix misc logic
  ang/civiawards/dashboard/configs/awards-dashboard-action-items.config.js
  ang/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/add-award-dashboard-action-button.html
  ang/civiawards/dashboard/directives/dashboard-action-separator.html
  ang/civiawards/dashboard/directives/dashboard-action-separator.js
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.html
  ang/test/civiawards/dashboard/configs/awards-dashboard-action-items.config.spec.js
  ang/test/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.spec.js
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

RSE-404: Add missing unit tests
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

RSE-643: Expose create/edit awards permission
  ang/civiawards.ang.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-643: Remove unnecessary statements from award type service spec file
  ang/test/civiawards/shared/services/award-type.service.spec.js
Due: eslint --fix

RSE-643: Move is visible function to common service
  ang/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/civiawards/shared/services/is-award-screen.factory.js
  ang/test/civiawards/shared/services/is-award-screen.factory.spec.js
Due: eslint --fix

RSE-643: Display Add Award dashboard button only for those with permission
  ang/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/civiawards/shared/services/can-create-or-edit-awards.factory.js
  ang/civiawards/shared/services/is-award-screen.factory.js
  ang/test/civiawards/dashboard/directives/add-award-dashboard-action-button.controller.spec.js
  ang/test/civiawards/shared/services/can-create-or-edit-awards.factory.spec.js
  ang/test/civiawards/shared/services/is-award-screen.factory.spec.js
Due: eslint --fix

RSE-643: Display the award edit cogs only for those with permission
  ang/civiawards/dashboard/configs/case-type-items.config.js
  ang/civiawards/dashboard/directives/edit-award-button.controller.js
  ang/civiawards/dashboard/directives/edit-award-button.html
  ang/civiawards/shared/configs/case-type-buttons.config.js
  ang/test/civiawards/dashboard/configs/case-type-items.config.spec.js
Due: eslint --fix

RSE-363: Fix more filters bug
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

RSE-298: Implement hook to modify CaseType create API Permission
  CRM/CiviAwards/Hook/alterAPIPermissions/Award.php
  civiawards.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-298: Fix linter errors.
  CRM/CiviAwards/Hook/alterAPIPermissions/Award.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-359: Add reviews and applications mock data
  ang/test/mocks/data/applications.data.js
  ang/test/mocks/data/reviews.data.js
Due: eslint --fix

RSE-359: Provide reviews activity type and custom fields group names as contants
  ang/civiawards/shared/constants.js
Due: eslint --fix

RSE-359: Add reviews tab directive
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.html
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
Due: eslint --fix

RSE-359: Add reviews tab to case tabs configuration
  ang/civiawards/reviews-tab/configs/add-reviews-tab.config.js
  ang/civiawards/reviews-tab/services/reviews-case-tab-content.html
  ang/civiawards/reviews-tab/services/reviews-case-tab-placeholder.html
  ang/civiawards/reviews-tab/services/reviews-case-tab.service.js
  ang/test/civiawards/reviews-tab/configs/add-reviews-tab.config.spec.js
Due: eslint --fix

RSE-359: Add horizontal table scroll
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.html
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_reviews-tab.scss
Due: stylelint --fix

RSE-359: Add table shadow borders
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.html
Due: none

RSE-359: Add shadow to review tab action buttons
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.html
  scss/components/_reviews-tab.scss
Due: stylelint --fix

RSE-359: Convert record action buttons to ellipses
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.html
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_reviews-tab.scss
Due: stylelint --fix

RSE-644: Add mock reviews data
  ang/test/mocks/data/reviews.data.js
Due: eslint --fix

RSE-644: Add review activity form service
  ang/civiawards/activity-forms/services/review-form.service.js
  ang/test/civiawards/activity-forms/services/review-form.service.spec.js
Due: eslint --fix

RSE-644: Configure awards activity forms
  ang/civiawards/activity-forms/activity-forms.config.js
  ang/test/civiawards/activity-forms/activity-forms.config.spec.js
Due: eslint --fix

RSE-644: Show review type form
  CRM/CiviAwards/Form/AwardReview.php
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/civiawards.scss
  scss/components/_review-activity.scss
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-644: Show review type form
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_review-activity.scss
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: stylelint --fix

RSE-644: Add Edit button functionality.
  CRM/CiviAwards/Form/AwardReview.php
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-363: Fix case type filters
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
Due: eslint --fix

RSE-341: Add empty placeholder
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.html
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_reviews-tab.scss
Due: stylelint --fix

RSE-341: Fix Form not closing when opened in modal.
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-341: Show Notification when award save is inprogress
  ang/civiawards/award-creation/directives/award.directive.js
Due: eslint --fix

RSE-341: Show Option Value of review fields
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.html
Due: eslint --fix

RSE-341: Update unit tests
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/civiawards/award-creation/directives/review-fields-table.directive.spec.js
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
  ang/test/mocks/data/award-additional-details.data.js
  ang/test/mocks/data/review-fields.data.js
Due: eslint --fix

RSE-733: Add Application manager role for Awards
  ang/civiawards/award-creation/directives/award.directive.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
Due: eslint --fix

RSE-856: Modify Custom Field API permissions
  CRM/CiviAwards/Hook/alterAPIPermissions/Award.php
  CRM/CiviAwards/Setup/CreateApplicantReviewActivityType.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-856: Add new permission.
  civiawards.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-856: Added translation for labels
  CRM/CiviAwards/Setup/CreateApplicantReviewActivityType.php
  civiawards.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-341: Code refactor
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.html
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
Due: eslint --fix

RSE-341: Fixed issues with checkbox values.
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-341: Switch to CustomValue api to fetch review fields value
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.html
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
Due: eslint --fix
