Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1132: Modify form logic to requirements and add SSP support
  CRM/CiviAwards/Form/AwardReview.php
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1132: Add civi and Ssp review URLs as class constants
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1116: Fix success message text for award submissions
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1139: Refactor getContactAcess function, Add function for getting ReviewAccess for and Application
  CRM/CiviAwards/Service/AwardApplicationContactAccess.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1139: Fix broken tests
  tests/phpunit/CRM/CiviAwards/Service/AwardApplicationContactAccessTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1139: Add tests for getReview Access
  tests/phpunit/CRM/CiviAwards/Service/AwardApplicationContactAccessTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1139: Update Fabricator, Add CaseType Fabricator
  CRM/CiviAwards/Test/Fabricator/Case.php
  CRM/CiviAwards/Test/Fabricator/CaseType.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1139: Add getReviewAcess API.
  api/v3/AwardReviewPanel.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1115: HTML format and class tweaks to achieve design layout
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: none

RSE-1115: Update template to spit contextual html
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: none

RSE-1115: Update casetags to have case tag color
  CRM/CiviAwards/Form/AwardReview.php
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1172: Update URL path and permissions
  CRM/CiviAwards/Form/AwardReview.php
  xml/Menu/civiawards.xml
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1172: Check contact panel access, add post and pre help field data
  CRM/CiviAwards/Form/AwardReview.php
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1201: Remove edit review functionality
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.html
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
Due: eslint --fix

RSE-982: Add done button to revidw fields popup
  ang/civiawards/award-creation/directives/review-fields/review-fields-table.directive.js
  ang/test/civiawards/award-creation/directives/review-fields/review-fields-table.directive.spec.js
Due: eslint --fix

RSE-982: Add search icon
  ang/civiawards/award-creation/directives/review-fields/review-field-selection.html
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
Due: stylelint --fix

RSE-982: Use bootstrap for icons
  ang/civiawards/award-creation/directives/review-fields/review-field-selection.html
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
Due: stylelint --fix

RSE-1139: Fix issue with anonymization logic for all tags
  CRM/CiviAwards/Service/AwardApplicationContactAccess.php
  tests/phpunit/CRM/CiviAwards/Service/AwardApplicationContactAccessTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1205: Award review form changes
  CRM/CiviAwards/Form/AwardReview.php
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CATL-1485: Use isTruthy function
  ang/civiawards/award-creation/directives/basic-details-form.directive.js
  ang/civiawards/award-creation/directives/review-fields/review-fields-table.directive.js
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/civiawards/shared/directives/contacts-group-dropdown.directive.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
  ang/test/mocks/data/review-panels.data.js
Due: eslint --fix

RSE-1197: Install Applicant Management Option
  CRM/CiviAwards/Helper/CaseTypeCategory.php
  CRM/CiviAwards/Setup/CreateApplicantManagementOption.php
  CRM/CiviAwards/Upgrader/Steps/Step1002.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1197: Add Applicant Management Utilities class
  CRM/CiviAwards/Service/ApplicantManagementUtils.php
  CRM/CiviAwards/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1197: Add Applicant Management menu class
  CRM/CiviAwards/Service/ApplicantManagementMenu.php
  CRM/CiviAwards/Setup/CreateAwardsMenus.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1140: Refactor Logic to work with AND condition between status and tags field.
  CRM/CiviAwards/Service/AwardApplicationContactAccess.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1209: Add Applicant Management Word Replacement Functionality
  CRM/CiviAwards/Setup/AddApplicationManagementWordReplacement.php
  CRM/CiviAwards/Upgrader.php
  CRM/CiviAwards/Upgrader/Steps/Step1003.php
  CRM/CiviAwards/WordReplacement/ApplicantManagement.php
  config/word_replacement/applicant_management.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1216: Fix label text for success screen
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1216: Change form page heading with correct user name
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: none

RSE-1219: Fix label text for success screen
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1219: Change form page heading with correct user name
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: none

RSE-1219: Fix the error message on review submitted error
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1209: Update workflow to consider civicase branch.
  .github/workflows/unit-test.yml
Due: none

Update unit-test.yml
  .github/workflows/unit-test.yml
Due: none

RSE-1222: Improve Workflow for installing Civiaward dependencies
  .github/workflows/unit-test.yml
Due: none

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.scss
  ./bin/phpcs.phar --standard=phpcs-ruleset.xml: any of: *.php
