Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-306: Award Details APIs
  api/v3/AwardDetail.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-492: Add award type option group.
  CRM/CiviAwards/Setup/CreateAwardTypeOptionGroup.php
  CRM/CiviAwards/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-347: use real values in the page
  ang/civiawards.ang.php
  ang/civiawards/awards/AwardsNew.html
  ang/civiawards/awards/AwardsNew.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_new-award.scss
Due: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-347: fetch award types
  ang/civiawards.ang.php
  ang/civiawards/awards/AwardsNew.html
  ang/civiawards/awards/AwardsNew.js
  ang/civiawards/shared/services/award-types.service.js
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-347: Save logic complete
  ang/civiawards/app.routes.js
  ang/civiawards/awards/AwardsNew.js
  ang/civiawards/directives/award.directive.html
  ang/civiawards/directives/award.directive.js
Due: eslint --fix

RSE-452: Add Award Profile Service. Implement create/update profile functionality.
  CRM/CiviAwards/Service/AwardDetail.php
  CRM/CiviAwards/Service/AwardProfile.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-452: Update API wrapper to add profile fields.
  CRM/CiviAwards/Api/Wrapper/AwardDetailExtraFields.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-452: API refactor and BAO update
  CRM/CiviAwards/BAO/AwardDetail.php
  api/v3/AwardDetail.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-452: PR feedback
  CRM/CiviAwards/Service/AwardProfile.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-347: Edit logic
  ang/civiawards/app.routes.js
  ang/civiawards/directives/award.directive.js
Due: eslint --fix

RSE-347: Edit logic
  ang/civiawards/directives/award.directive.html
  ang/civiawards/directives/award.directive.js
Due: eslint --fix

RSE-347: Name field
  ang/civiawards/directives/award.directive.html
  ang/civiawards/directives/award.directive.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_new-award.scss
Due: eslint --fix, stylelint --fix

RSE-347: Unit Tests setup
  ang/civiawards/directives/award.directive.js
  ang/civiawards/shared/services/award-type.service.js
  ang/test/civiawards/shared/services/award-type.service.spec.js
  ang/test/global.js
  ang/test/karma.conf.js
  ang/test/mocks/data/award-type.data.js
  ang/test/mocks/modules.mock.js
  gulp-tasks/karma-unit-test.js
  gulpfile.js
  package-lock.json
  package.json
Due: eslint --fix

RSE-347: Unit Tests
  ang/civiawards/directives/award.directive.js
  ang/test/civiawards/directives/award.directive.spec.js
  ang/test/karma.conf.js
  ang/test/mocks/data/award-additional-details.data.js
  ang/test/mocks/data/award.data.js
  ang/test/mocks/modules.mock.js
Due: eslint --fix

RSE-347: PR Feedback
  ang/civiawards.ang.php
  ang/civiawards/directives/award.directive.html
  ang/civiawards/directives/award.directive.js
  ang/test/civiawards/directives/award.directive.spec.js
  ang/test/civiawards/shared/services/award-type.service.spec.js
  ang/test/mocks/data/award-additional-details.data.js
  ang/test/mocks/data/award-type.data.js
  ang/test/mocks/data/award.data.js
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-347: PR Feedback - refactor code
  ang/civiawards/directives/award.directive.html
  ang/civiawards/directives/award.directive.js
Due: eslint --fix

RSE-406: Add Award Review form
  CRM/CiviAwards/Form/AwardReview.php
  templates/CRM/CiviAwards/Form/AwardReview.tpl
  xml/Menu/civiawards.xml
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-406: Add Contact Id as part of profile fields.
  CRM/CiviAwards/Service/AwardProfile.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-406: Remove empty lines
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: none

RSE-351: Implement Awards Word Replacement
  CRM/CiviAwards/Setup/AddAwardsCategoryWordReplacement.php
  CRM/CiviAwards/Upgrader.php
  CRM/CiviAwards/WordReplacement/AwardsCategory.php
  config/word_replacement/awards_category.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CATL-1172: Fix database upgrades required warning message
  CRM/CiviAwards/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-25: Fix error after disabling extension
  CRM/CiviAwards/Setup/AddAwardsCgExtendsOptionValue.php
  CRM/CiviAwards/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

Revert "CATL-1172: Fix "Database Upgrades Required" Message"
  CRM/CiviAwards/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-616: Create Basic details tab
  ang/civiawards/directives/award.directive.html
  ang/civiawards/directives/award.directive.js
  ang/test/civiawards/directives/award.directive.spec.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_new-award.scss
Due: eslint --fix, stylelint --fix

RSE-616: Basic Details feedback
  ang/civiawards/directives/award.directive.html
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_new-award.scss
Due: stylelint --fix

RSE-626: Basic Details feedback
  ang/civiawards/directives/award.directive.html
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_new-award.scss
Due: stylelint --fix

RSE-626: Stages UI changes
  ang/civiawards/directives/award-stages-table.directive.html
  ang/civiawards/directives/award-stages-table.directive.js
  ang/civiawards/directives/award.directive.html
  ang/civiawards/directives/award.directive.js
  ang/civiawards/directives/basic-details-form.directive.html
  ang/civiawards/directives/basic-details-form.directive.js
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_award.scss
  scss/components/_new-award.scss
Due: eslint --fix, stylelint --fix

RSE-303: Add CiviAwards menu items
  CRM/CiviAwards/Setup/CreateAwardsMenus.php
  CRM/CiviAwards/Upgrader.php
  CRM/CiviAwards/Upgrader/Steps/Step1001.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-626: Unit Tests
  ang/test/civiawards/directives/award-stages-table.directive.spec.js
  ang/test/civiawards/directives/award.directive.spec.js
  ang/test/civiawards/directives/basic-details-form.directive.spec.js
  ang/test/mocks/data/award-type.data.js
Due: eslint --fix

RSE-626: fix misc issues
  ang/civiawards/directives/award-stages-table.directive.js
  ang/civiawards/directives/award.directive.js
  ang/civiawards/directives/basic-details-form.directive.js
  ang/test/civiawards/directives/award-stages-table.directive.spec.js
  ang/test/civiawards/directives/award.directive.spec.js
  ang/test/civiawards/directives/basic-details-form.directive.spec.js
Due: eslint --fix

RSE-303: Remove unnecessary statements and docs
  CRM/CiviAwards/Setup/CreateAwardsMenus.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-303: Remove unnecessary sub menu item
  CRM/CiviAwards/Setup/CreateAwardsMenus.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-631: Sets activity status 'Scheduled' and 'Completed' for applicant review
  CRM/CiviAwards/Setup/CreateApplicantReviewActivityType.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-657: Add create/edit permission
  civiawards.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSEE-631: Update Activity Review cg title
  xml/custom_fields/applicant_review_install.xml
Due: none

RSE-668: Enable AwardManager API
  api/v3/AwardManager.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-663: Add the AwardReviewPanel Entity DAO and XML schema.
  CRM/CiviAwards/DAO/AwardReviewPanel.php
  civiawards.civix.php
  sql/auto_install.sql
  sql/auto_uninstall.sql
  xml/schema/CRM/CiviAwards/AwardReviewPanel.entityType.php
  xml/schema/CRM/CiviAwards/AwardReviewPanel.xml
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-372: Validate review fields before processing
  CRM/CiviAwards/BAO/AwardDetail.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-372: Save more information for each review field
  CRM/CiviAwards/Service/AwardProfile.php
  api/v3/AwardDetail.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-372: PR feedback - remove unreachable code
  CRM/CiviAwards/BAO/AwardDetail.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.scss
  ./bin/phpcs.phar --standard=phpcs-ruleset.xml: any of: *.php
