Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1387: Add Is Template field
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/award-creation/directives/basic-details-form.directive.html
  ang/civiawards/award-creation/directives/basic-details-form.directive.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
  ang/test/civiawards/award-creation/directives/basic-details-form.directive.spec.js
  ang/test/mocks/data/award-additional-details.data.js
Due: eslint --fix

RSE-1387: Change form field label case
  ang/civiawards/award-creation/directives/basic-details-form.directive.html
Due: none

RSE-1434: Update application status options after saving the award type
  ang/civiawards/award-creation/directives/award.directive.js
  ang/test/civiawards/award-creation/directives/award.directive.spec.js
Due: eslint --fix

RSE-1549: Add new columns
  ang/civiawards-base.ang.php
  ang/civiawards-base.js
  ang/civiawards-base/services/award-subtype.service.js
  ang/civiawards-base/services/is-application-management-screen.factory.js
  ang/civiawards-workflow.ang.php
  ang/civiawards-workflow/columns/directives/workflow-list-column-is-template.html
  ang/civiawards-workflow/columns/directives/workflow-list-column-manager.html
  ang/civiawards-workflow/columns/directives/workflow-list-column-subtype.html
  ang/civiawards-workflow/configs/application-management-workflow-list-columns.config.js
  ang/civiawards-workflow/duplicate-workflow-applicant-management.service.js
  ang/civiawards-workflow/services/applicant-management-workflow.service.js
  ang/civiawards.ang.php
  ang/test/civiawards-base/services/award-subtype.service.spec.js
  ang/test/civiawards-base/services/is-application-management-screen.factory.spec.js
  ang/test/civiawards-workflow/duplicate-workflow-applicant-management.service.spec.js
  ang/test/civiawards-workflow/services/applicant-management-workflow.service.spec.js
  ang/test/global.js
  ang/test/karma.conf.js
  ang/test/mocks/data/sub-type.data.js
  civiawards.php
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-397: Specify drupal version
  .github/workflows/unit-test.yml
Due: none

CPS-397: Update info file
  info.xml
Due: none

RSE-1550: getWorkflowList refactoring
  ang/civiawards-base/services/process-my-awards-filter.service.js
  ang/civiawards-workflow/services/applicant-management-workflow.service.js
  ang/test/civiawards-workflow/services/applicant-management-workflow.service.spec.js
Due: eslint --fix

RSE-1550: Add new columns
  ang/civiawards-base.ang.php
  ang/civiawards-base.js
  ang/civiawards-base/services/award-subtype.service.js
  ang/civiawards-base/services/is-application-management-screen.factory.js
  ang/civiawards-workflow.ang.php
  ang/civiawards-workflow/columns/directives/workflow-list-column-is-template.html
  ang/civiawards-workflow/columns/directives/workflow-list-column-manager.html
  ang/civiawards-workflow/columns/directives/workflow-list-column-subtype.html
  ang/civiawards-workflow/configs/application-management-workflow-list-columns.config.js
  ang/civiawards-workflow/duplicate-workflow-applicant-management.service.js
  ang/civiawards-workflow/services/applicant-management-workflow.service.js
  ang/civiawards.ang.php
  ang/test/civiawards-base/services/award-subtype.service.spec.js
  ang/test/civiawards-base/services/is-application-management-screen.factory.spec.js
  ang/test/civiawards-workflow/duplicate-workflow-applicant-management.service.spec.js
  ang/test/civiawards-workflow/services/applicant-management-workflow.service.spec.js
  ang/test/global.js
  ang/test/karma.conf.js
  ang/test/mocks/data/sub-type.data.js
  civiawards.php
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1550: Change service name
  ang/civiawards-workflow/services/applicant-management-workflow.service.js
  ang/test/civiawards-workflow/services/applicant-management-workflow.service.spec.js
Due: eslint --fix

RSE-1550: Add workflow list filters
  ang/civiawards-base/services/process-my-awards-filter.service.js
  ang/civiawards-workflow/columns/directives/workflow-list-column-is-template.html
  ang/civiawards-workflow/configs/application-management-workflow-list-columns.config.js
  ang/civiawards-workflow/configs/application-management-workflow-list-filters.config.js
  ang/civiawards-workflow/filters/controllers/workflow-filter.controller.js
  ang/civiawards-workflow/filters/directives/workflow-list-filter-is-active.html
  ang/civiawards-workflow/filters/directives/workflow-list-filter-is-template.html
  ang/civiawards-workflow/filters/directives/workflow-list-filter-manager.html
  ang/civiawards-workflow/filters/directives/workflow-list-filter-subtype.html
  ang/civiawards-workflow/services/applicant-management-workflow.service.js
  ang/civiawards/award-creation/directives/award.directive.js
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/test/civiawards-workflow/filters/controllers/workflow-filter.controller.spec.js
  ang/test/civiawards-workflow/services/applicant-management-workflow.service.spec.js
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

RSE-1550: Use map while formatting workflow list
  ang/civiawards-workflow/services/applicant-management-workflow.service.js
Due: eslint --fix

RSE-1550: Filter refactoring
  ang/civiawards-workflow/services/applicant-management-workflow.service.js
Due: eslint --fix

RSE-1553: Add Create new button
  ang/civiawards-workflow/services/applicant-management-workflow.service.js
  ang/test/civiawards-workflow/services/applicant-management-workflow.service.spec.js
Due: eslint --fix

RSE-1559: Update info xml file
  info.xml
Due: none

RSE-1566: Add limit parameter to get award manager api call
  ang/civiawards-base/services/process-my-awards-filter.service.js
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

RSE-1554: Applicant Management edit workflow
  ang/civiawards-workflow/services/applicant-management-workflow.service.js
  ang/test/civiawards-workflow/services/applicant-management-workflow.service.spec.js
Due: eslint --fix

ACU-441: Add finance management setting service and tests
  CRM/CiviAwards/Service/FinanceManagementSetting.php
  tests/phpunit/CRM/CiviAwards/Service/FinanceManagementSettingServiceTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-441: Add finance management form field and post processing
  CRM/CiviAwards/Hook/BuildForm/AddFinanceManagementField.php
  CRM/CiviAwards/Hook/CaseCategoryFormBase.php
  CRM/CiviAwards/Hook/PostProcess/SaveFinanceManagement.php
  civiawards.php
  templates/CRM/CiviAwards/Form/FinanceManagement.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-441: Add unit tests for postprocess hook
  tests/phpunit/CRM/CiviAwards/Hook/PostProcess/SaveFinanceManagementTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-443: Add the payment bank details custom field set
  CRM/CiviAwards/Upgrader/Steps/Step1009.php
  xml/custom_fields/payment_bank_details_install.xml
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-443: Add post process hook for enabling bank details field set
  CRM/CiviAwards/Hook/PostProcess/EnableBankDetailsFieldSet.php
  civiawards.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1572: Fix custom fields issue on awards
  CRM/CiviAwards/Helper/CaseTypeCategory.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1231: Store weights for Award review fields
  CRM/CiviAwards/Helper/ApplicantReview.php
  CRM/CiviAwards/Service/AwardProfile.php
  tests/phpunit/CRM/CiviAwards/Service/AwardProfileTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1231: Use getsingle API call for getting CustomGroup
  CRM/CiviAwards/Helper/ApplicantReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1600: Implement advanced action item
  ang/civiawards-workflow/action-links/controllers/workflow-advanced.controller.js
  ang/civiawards-workflow/action-links/directives/workflow-list-advanced-action.html
  ang/civiawards-workflow/configs/application-management-workflow-list-action-items.config.js
  ang/test/civiawards-workflow/action-links/controlers/workflow-advanced.controller.spec.js
Due: eslint --fix

CPS-438: Update info file
  info.xml
Due: none

RSE-1033: Add filter to display disabled awards and applications
  ang/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.js
  ang/civiawards/dashboard/directives/more-filters-popup.html
  ang/test/civiawards/dashboard/directives/more-filters-dashboard-action-button.controller.spec.js
Due: eslint --fix

CPS-411: Check empty values received on extra fields
  CRM/CiviAwards/Api/Wrapper/AwardDetailExtraFields.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-411: Add new API for importing awards
  CRM/CiviAwards/Service/AwardImport.php
  api/v3/AwardImport.php
  tests/phpunit/CRM/CiviAwards/Service/AwardImportTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-443: Update payment details field set XML
  xml/custom_fields/payment_bank_details_install.xml
Due: none

ACU-443: Add setup class for adding currency option related custom fields
  CRM/CiviAwards/Setup/AddCurrencyRelatedCustomFields.php
  CRM/CiviAwards/Upgrader.php
  CRM/CiviAwards/Upgrader/Steps/Step1009.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-443: Add test for enabling the bank details field set
  tests/phpunit/CRM/CiviAwards/Hook/PostProcess/EnableBankDetailsFieldSetTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-443: Add missing headless group tag
  tests/phpunit/CRM/CiviAwards/Service/FinanceManagementSettingServiceTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1459: Filter unused award subtypes
  CRM/CiviAwards/Helper/CaseTypeCategory.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-411: Use string constant for category value
  CRM/CiviAwards/Service/AwardImport.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-411: Get case type ID from result
  CRM/CiviAwards/Service/AwardImport.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-411: Parse contact IDs from a comma-separated list
  CRM/CiviAwards/Service/AwardImport.php
  api/v3/AwardImport.php
  tests/phpunit/CRM/CiviAwards/Service/AwardImportTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-411: Remove review_fields support
  CRM/CiviAwards/Service/AwardImport.php
  api/v3/AwardImport.php
  tests/phpunit/CRM/CiviAwards/Service/AwardImportTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-411: Remove review_panel support
  CRM/CiviAwards/Service/AwardImport.php
  api/v3/AwardImport.php
  tests/phpunit/CRM/CiviAwards/Service/AwardImportTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-411: Remove unused specs
  api/v3/AwardImport.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.scss
  ./bin/phpcs.phar --standard=phpcs-ruleset.xml: any of: *.php
