Repository compucorp/uk.co.compucorp.civiawards: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-67: Code spacing fix
  CRM/CiviAwards/BAO/AwardReviewPanel.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-67: Add more tests.
  tests/phpunit/CRM/CiviAwards/BAO/AwardReviewPanelTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1066: Add word replacements for clients
  config/word_replacement/awards_category.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

ACU-68: Save application status
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
Due: eslint --fix

ACU-68: Update unit tests
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
  ang/test/mocks/data/review-panels.data.js
Due: eslint --fix

ACU-68: Refactor code
  ang/civiawards/award-creation/directives/review-panels/review-panels.directive.js
  ang/test/civiawards/award-creation/directives/review-panels/review-panels.directive.spec.js
Due: eslint --fix

CPS-192: Update Info file.
  info.xml
Due: none

RSE-1083: Throw an error when contact has no access to award panels
  CRM/CiviAwards/Service/AwardApplicationContactAccess.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1083: Add Status to Move to Param. Fix issue with has all visibility setting
  CRM/CiviAwards/Service/AwardApplicationContactAccess.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1083: Change expected relationship contact to array
  CRM/CiviAwards/Service/AwardPanelContact.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1083: Syntax fixes.
  tests/phpunit/CRM/CiviAwards/Service/AwardPanelContactTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1083: Fix broken tests. Add more tests
  tests/phpunit/CRM/CiviAwards/Service/AwardApplicationContactAccessTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-647: Add Support for award case type custom fields
  CRM/CiviAwards/Setup/AddAwardCaseTypeCustomGroupSupport.php
  CRM/CiviAwards/Uninstall/RemoveCustomGroupSupportForAwardType.php
  CRM/CiviAwards/Upgrader.php
  CRM/CiviAwards/Upgrader/Steps/Step1002.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-647: Add award custom field form and template
  CRM/CiviAwards/Form/AwardCustomField.php
  templates/CRM/CiviAwards/Form/AwardCustomField.tpl
  xml/Menu/civiawards.xml
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-647: Add parent preprocess function
  CRM/CiviAwards/Form/AwardCustomField.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CATL-1358: Move review tab placeholders
  ang/civiawards/reviews-tab/services/reviews-case-tab-content.html
  ang/civiawards/reviews-tab/services/reviews-case-tab.service.js
Due: eslint --fix

RSE-897: Use ellipsis in reviews tab table
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.html
  css/civiawards.min.css
  css/civiawards.min.css.map
  scss/components/_reviews-tab.scss
Due: stylelint --fix

RSE-897: Add Linter Github Action
  .github/workflows/linters.yml
Due: none

RSE-1121: Update info.xml
  info.xml
Due: none

RSE-1132: Add review form path for SSP
  xml/Menu/civiawards.xml
Due: none

RSE-1132: Modify form logic to requirements and add SSP support
  CRM/CiviAwards/Form/AwardReview.php
  templates/CRM/CiviAwards/Form/AwardReview.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1132: Add civi and Ssp review URLs as class constants
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1132: Fix PHP lint error
  phpcs-ruleset.xml
Due: none

RSE-1138: Exclude group should take precedence for panel contacts
  CRM/CiviAwards/Service/AwardPanelContact.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1138: Add unit test
  tests/phpunit/CRM/CiviAwards/Service/AwardPanelContactTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1138: Add Github Unit test workflow
  .github/workflows/unit-test.yml
  ang/test/karma.conf.js
Due: eslint --fix

RSE-1138: Fix PHP lint error
  phpcs-ruleset.xml
Due: none

RSE-841: Refactor AwardsReview class - add loadCaseTags() and getCaseTags() methods
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-841: Add 'badge' result format for getCaseTags() method
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-841: Add function to calcualte text color for a case tag
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-841: Apply badge formatting for tags in Award Review form popup
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-841: Add html entities decoding to Award Review form title
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
Due: eslint --fix

RSE-841: Refactor processing of Award Review form title
  ang/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.js
Due: eslint --fix

RSE-841: Add unit test for html entities decoding in Award Review form title
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
Due: eslint --fix

RSE-841: Remove unused code
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-841: Small refactor of getCaseTags(), fix formatting
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-841: Fix description in unit test
  ang/test/civiawards/reviews-tab/directives/reviews-case-tab-content.directive.spec.js
Due: eslint --fix

RSE-1141: Hide 'Statuses' field In Review Panel popup when related checkbox is unticked
  ang/civiawards/award-creation/directives/review-panels/review-panel-popup.html
Due: none

RSE-1116: Fix success message text for award submissions
  CRM/CiviAwards/Form/AwardReview.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.scss
  ./bin/phpcs.phar --standard=phpcs-ruleset.xml: any of: *.php
